<div class="table">
    <div class="table-head">
        <div class="th-tr">
            <div class="al-com fl-l th-td">航班公司</div>
            <div class="al-info fl-l th-td">航班信息</div>
            <div class="weight fl-l th-td ta-r">MIN</div>
            <div class="weight fl-l th-td ta-r">45KG</div>
            <div class="weight fl-l th-td ta-r">100KG</div>
            <div class="weight fl-l th-td ta-r">300KG</div>
            <div class="weight fl-l th-td ta-r">500KG</div>
            <div class="weight fl-l th-td ta-r">1000KG</div>
            <div class="tdtime fl-l th-td ta-r">有效期</div>
            <div class="operate fl-l th-td"><span class="txt-info dp-b fl-l"></span>
            </div>
        </div>
    </div>
    <div class="table-body"></div>
</div>
<div class="page-box">

</div>