<div class="right-part">
    <img class="tt-img" src="/images/banner-hydt.jpg" alt="行业动态">
    <div class="list-body">
        <p class="title">行业动态</p>
        <div class="detail-body">
        </div>
    </div>
</div>