.searchDeport{
  .ajax-part{
    width: 300px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 76px;
    background-color: #fff;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    li {
      @include HEIGHT(46px);
      padding: 0 10px;
      cursor: pointer;
      z-index: 1000;
      color: #666;
      font-size: 12px;
      @include NOWRAP();
    }
    li:hover {
      background-color: rgba(36, 143, 213, 0.5);
      background-color: #f4f4f4;
      color: #333;
    }
    li.active {
      background-color: rgba(36, 143, 213, 0.5);
      background-color: #f4f4f4;
      color: #333;
    }
  }
}