@import "../../general/general";

.zd-body .txt .tw{
  width:150px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
}

.search-part{width: 90%;padding: 20px;margin: 0 auto;background-color: #fff;border: 1px solid $gray;border-radius: 5px;border-top: 2px solid #d2d6de;
  .dp-tb{margin: 0 auto;
    .input{float: left;margin-right: 10px;}
    button{clear: both;margin: 50px auto 0;}
  }
}
.operate{width: 90%;margin: 20px auto 0;padding: 10px 20px;background-color: #fff;border: 1px solid $gray;border-top: 2px solid #00b494;border-bottom: none;border-top-left-radius:5px;border-top-right-radius:5px;
  .list-cout{float: left;@include HEIGHT(30px);margin: 0;}
  button{float: right;margin-left: 2px;background-color: #339cd0;}
  button:hover{background-color: #1275a6;}
}
.outer-con{width: 90%;margin: 0 auto;padding: 0 20px 20px;background-color: #fff;border: 1px solid $gray;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top: none;}
table{background-color: #fff;border-color: $gray;
  td{text-align: center;height: 30px;font-size: 12px;  }
  .short-td{height: 15px;}
  .wrong{
    td{height: 200px;font-size: 16px;
      a{display: inline;}
    }
  }
}
.outer-tb{width: 100%;
  td{font-size: 12px;height: 28px;}
  thead{
    td{background-color: #fff;color: #333;font-size: 13px;font-weight: 600;height: 35px;}
  }
  tr{border: 1px solid $gray;}
  tr:hover{background-color: #f3f3f3;}
  .ssz{
    td{background-color: #ffa8be;}
  }
}
.page-box{width: 90%;margin: 20px auto;}


.white-back{position: fixed;width: 100%;height: 100%;background-color: rgba(255,255,255,0.85);top: 0;left: 0;z-index: 10000;
  .alert-part{ .header{@include HEIGHT(30px);background-color: $blue1;color: #fff;font-size: 16px;padding: 0 0 0 20px;
    span{display: block;float: right;@include HEIGHT(30px);width: 50px;text-align: center;color: #fff;cursor: pointer;}
  }
    .btn-pt{display:table;margin: 0 auto;
      button{margin-top: 20px;margin-right: 20px;}
      button:last-child{margin-right: 0;}
    }
  }
  .zd-part{background-color: #fff;width: 942px;position: fixed;top: 5%;left: 50%;margin-left: -471px;border: 1px solid $blue1;
    .zd-body{padding: 20px;height: 500px;overflow: auto;
      .txt{width: 280px;margin-bottom: 5px;
        span{display: block;float: left;@include HEIGHT(20px);}
        .title{width: 80px;text-align: left;font-size: 14px;font-weight: 600;}
        .body{width: 200px;}
      }
      .sel-type{height: 40px;width: 100%;float: left;
        p{float: left;margin: 0;height: 40px;border: 1px solid $gray;text-align: center;line-height: 39px;border-bottom: none;border-right: none;padding: 0 10px;cursor: pointer;}
        p:last-child{border-right: 1px solid $gray;}
        .active{background-color: $gray}
      }
      .nav-bar{width: 100%;float: left;border: 1px solid $gray;padding: 10px;}
      .half{width: 48%;float: left;}

      p.title{@include HEIGHT(30px);font-size: 20px;font-weight: 600;margin-bottom: 5px;}
      table{width: 100%;
        td{height: 30px;width: 20%;position: relative;
          input{height: 100%;width: 100%;border: none;text-align: center;}
          ul{width: 100%;position: absolute;top: 30px;left: 0;z-index: 100;margin: 0;
            li{height: 25px;cursor: pointer;line-height: 25px;border: 1px solid $gray;border-top: none;background-color: #fff;width: 100%;@include NOWRAP();}
            li:first-child{border-top: 1px solid $gray;}
            li:hover{background-color: $sblue;}
            li.active{background-color: $sblue;}
          }
          .choose{cursor: pointer;}
          .glyphicon{padding: 5px;cursor: pointer;}
          .glyphicon-remove{color: red;}
          .glyphicon-plus{color: blue;}
        }
      }
      textarea{width: 100%;height: 50px;margin-top: 10px;color: red;padding: 5px 10px;}
      .ddwfy{@include HEIGHT(30px);margin-bottom: 5px;
        input,label{display: block;float: left;}
        input{margin-top: 9px;}
        label{@include HEIGHT(30px);margin: 0 0 0 5px;}
      }
      p.font-r{@include HEIGHT(25px);margin: 0;color: red;}
      .clear{clear: both;}
    }
  }
}