/* CSS Reset */
*{font-family:Microsoft YaHei,Helvetica,Arial,sans-serif;color: #333;padding: 0;margin: 0;}
input{color: #666;}
button{outline: none;border: none;}
textarea{resize: none;}
ul,ol,dl{padding-left:0;list-style-type:none}
input,textarea,select{font-family:inherit;outline: none;}