<%# 底部预留区域 %>
<div class="foot">
    <div class="border"></div>
    <div class="container">
        <div class="left fl-l">
            <div class="bg-img"></div>
            <p>
                <a href="/info/about">关于我们</a>
                <a href="/info/problems">常见问题</a>
                <a href="/info/terms">服务条款</a>
                <!--<a href="/info/map">网站地图</a>-->
                <a href="/info/connect">联系我们</a>
            </p>
            <p>copyright 2016-2017 空运邦 沪ICP备 16005851号-1 版权所有 著作权</p>
        </div>
        <div class="right fl-r">
            <div class="weixin fl-l"></div>
            <div class="tel fl-r">
                <p>客服热线：021-31157505-8011</p>
                <p>周一至周六 9:00-18:00</p>
                <p class="chat-icon">
                    <a class="wechat" href="#"></a>
                    <a class="weibo" href="#"></a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>