<div class="calculate-price fl-l">
    <p class="price-header">
        费用计算
    </p>

    <div class="show-price">
        <p class="detail-price">
            <span class="dp-b fl-l title">空运费</span>
            <span class="dp-b fl-l content">CNY &nbsp; <span class="dEstFreightFee">0</span> </span>
        </p>

        <p class="info">空运费=单价 <span class="dChargingPrice">0</span> *计费重量 <span class="dChargingWeight">0</span>
            <!--<a href="javascript:void(0);" class="show-rule">计费规则</a>-->
        </p>

        <div class="p-body">

        </div>

        <!--<p class="detail-price">-->
        <!--<span class="dp-b fl-l title">保险费</span>-->
        <!--<span class="dp-b fl-l content">CNY &nbsp; 20*1票 </span>-->
        <!--</p>-->

        <p class="total-price">
            <span class="dp-b fl-l title">预估总价</span>
            <span class="dp-b fl-l content">CNY <span class="dEstTotalFee">0</span> </span>
        </p>

        <p class="info">*其他未列明费用请以客服告知或平台数据为准 </p>
    </div>
    <div class="ensure-part">
        <div class="check">
            <input type="checkbox" class="fl-l dp-b" id="check_rule" checked="checked"/>
            <label for="check_rule">我已阅读并同意《空运邦线上协议》</label>
        </div>
        <button id="submit" class="dp-b md-btn blue-btn">确认委托</button>
        <div class="export">
            <a href="javascript:void(0);" target="_blank" class="dp-b dl-pdf">
                <span class="dp-b fl-l excel-logo export-btn"></span>
                <span class="dp-b fl-l export-btn">导出报价单</span>
            </a>
        </div>
    </div>
</div>