<div class="table">
    <div class="table-head">
    <div class="th-tr">
        <div class="al-com fl-l th-td">航班公司</div>
        <div class="al-info fl-l th-td">航班信息</div>
        <div class="weight fl-l th-td">50KG
            <div class="sel-order sel-up dropup" data-sb="1"><span class="caret dp-b"></span></div>
            <div class="sel-order sel-down" data-sb="-1"><span class="caret dp-b"></span></div>
        </div>
        <div class="weight fl-l th-td">100KG
            <div class="sel-order sel-up dropup" data-sb="2"><span class="caret dp-b"></span></div>
            <div class="sel-order sel-down" data-sb="-2"><span class="caret dp-b"></span></div>
        </div>
        <div class="weight fl-l th-td">300KG
            <div class="sel-order sel-up dropup" data-sb="3"><span class="caret dp-b"></span></div>
            <div class="sel-order sel-down" data-sb="-3"><span class="caret dp-b"></span></div>
        </div>
        <div class="weight fl-l th-td">500KG
            <div class="sel-order sel-up dropup" data-sb="4"><span class="caret dp-b"></span></div>
            <div class="sel-order sel-down" data-sb="-4"><span class="caret dp-b"></span></div>
        </div>
        <div class="weight fl-l th-td">1000KG
            <div class="sel-order sel-up dropup" data-sb="5"><span class="caret dp-b"></span></div>
            <div class="sel-order sel-down" data-sb="-5"><span class="caret dp-b"></span></div>
        </div>
        <div class="operate fl-l th-td"><span class="img-arrow dp-b fl-l"></span><span class="txt-info dp-b fl-l">点击上下箭头排序价格</span></div>
    </div>
    </div>
    <div class="table-body"></div>
</div>
<div class="page-box">

</div>