
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="chanllenerYt">
    <meta name="Author" content="challengerYt">
    <meta name="Keywords" content="货代，空运邦">
    <meta name="Description" content="空运邦上海">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <!--<meta name="renderer" content="ie-comp">-->
    <!--<meta name="renderer" content="ie-stand">-->
    <title> <%= title %> </title>
    <script>
        var USER = {
            Account: '<%= 'Account' in user && user.Account || '' %>'
        };
    </script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">