<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="mobile">手机号码：</label>
            <input type="text" id="mobile" class="sm-input"/>
        </div>
        <div class="input">
            <label for="state">审核状态：</label>
            <select id="state" class="sm-input">
                <option value="99">-请选择-</option>
                <option value="2">审核通过</option>
                <option value="3">审核不通过</option>

            </select>
        </div>
        <button class="sm-btn blue-btn" id="search-btn">查询</button>
    </div>
</div>
<div class="operate fill">
    <p class="list-cout">共为您找到 0 条结果</p>
</div>

<div class="outer-con">
    <table class="outer-tb">
        <thead>
        <tr>
            <td>姓名</td>
            <td>手机号码</td>
            <td>电子邮箱</td>
            <td>申请日期</td>
            <td>操作时间</td>
            <td>操作员</td>
            <td>审核状态</td>
            <td>原因</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="page-box"></div>
