@import "../../general/general";
.outer-tb td .tw{
  width:80px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
}
.search-part{width: 90%;padding: 20px;margin: 0 auto;background-color: #fff;border: 1px solid $gray;border-radius: 5px;border-top: 2px solid #d2d6de;
  .dp-tb{margin: 0 auto;
    .input{float: left;margin-right: 10px;}
    button{clear: both;margin: 50px auto 0;}
  }
}

.operate{width: 90%;margin: 20px auto 0;padding: 10px 20px;background-color: #fff;border: 1px solid $gray;border-top: 2px solid #339cd0;border-bottom: none;border-top-left-radius:5px;border-top-right-radius:5px;
  .list-cout{float: left;@include HEIGHT(30px);margin: 0;}
  a,button{float: right;margin-left: 2px;background-color: #339cd0;color: #fff;}
  a:active{background-color: #1275a6;}
  button:hover{background-color: #1275a6;}
}
.outer-con{width: 90%;margin: 0 auto;padding: 0 20px 20px;background-color: #fff;border: 1px solid $gray;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top: none;}
table{background-color: #fff;border-color: $gray;
  td{text-align: center;height: 30px;font-size: 12px;  }
  .short-td{height: 15px;}
  .wrong{
    td{height: 200px;font-size: 16px;
      a{display: inline;}
    }
  }
}
.outer-tb{width: 100%;
  .bg-p{background-color: #586cc9;color: #fff;}
  .bg-q{background-color: #59a4ad;color: #fff;}
  .bg-y{background-color: #FF5722;color: #fff;}
  .bg-g{background-color: #ECECEC;color: #7E7E7E;}
  td{border: 1px solid #ECECEC;font-size: 12px;line-height: 25px;}
  .short-td{border: none;height: 10px;}
  .font-g{color: #a5a5a5;}
  .font-r{color: #D45075;}
  thead{
    td{background-color: #339cd0;color: #fff;font-size: 13px;font-weight: 600;height: 35px;}
  }
  .data-tbd:hover{background-color: #f3f3f3;}
  .opt-td{position: relative;width: 80px;
    a{color: #339cd0;
      .caret{color: #339cd0;margin:-2px 0 0 2px;}
    }
    a:hover{color: #1275a6;
      .caret{color: #1275a6;}
    }
    .opt-part{min-width:100px;position: absolute;left: -10px;top: 50px;background-color: #fff;border: 1px solid $gray;border-radius: 5px;z-index: 100;
      a{display: block;margin: 0;@include HEIGHT(30px);}
    }
  }
}
.outer-pages{width: 90%;margin: 0 auto;}
.white-back{position: fixed;width: 100%;height: 100%;background-color: rgba(255,255,255,0.85);top: 0;left: 0;z-index: 10000;
  .alert-part{ .header{@include HEIGHT(30px);background-color: $blue1;color: #fff;font-size: 16px;padding: 0 0 0 20px;
    span{display: block;float: right;@include HEIGHT(30px);width: 50px;text-align: center;color: #fff;cursor: pointer;}
  }
    .btn-pt{display:table;margin: 0 auto;
      button{margin-top: 20px;}
      button:first-child{margin-right: 20px;}
    }
  }
  .log-part{
    .log-div{padding: 10px 20px;max-height: 300px;overflow: auto;
      table{width: 100%;
        td{width: 15%;text-align: center;}
        .long{width: 40%;}
        tbody{
          .long{text-align: left;padding-left: 10px;}
        }
      }
    }
  }
  .transfer-part{width: 500px;margin-left: -250px;
    .dp-tb{display: table;margin: 50px auto 50px;}
  }
  .add-data-part,.ensure-data-part,.bg-part,.cy-part,.ys-part{background-color: #fff;width: 942px;position: fixed;top: 5%;left: 50%;margin-left: -471px;border: 1px solid $blue1;
    .add-data-body{padding: 20px;
      p{@include HEIGHT(30px);margin: 0;}
      .clear{@include clear();}
      .mg-r{margin:0 50px 0 0;}
      .mg-t{margin-top: 20px;}
      .input{width: 280px;height: 30px;margin-top: 10px;
        label,select{display: block;float: left;}
        label{text-align: right;font-weight: normal;@include HEIGHT(30px);margin: 0;  }
      }
      .icon{width: 6%;text-align: center;margin-right: 20px;
        span{color: blue;cursor: pointer;}
      }
      .copy-table{width: 100%;clear: both;
        .thd,.tft{padding-right: 20px;
          div{height: 31px;line-height: 30px;float: left;width: 6%;text-align: center;border-right: 1px solid $gray;border-bottom: 1px solid $gray;font-size: 12px;}
          .big{width: 22%;}
          div:first-child{border-left: 1px solid $gray;}
        }
        .thd{
          div{border-top: 1px solid $gray;}
        }
        .tbd{ max-height: 200px;overflow: auto;padding-right: 20px;
          .ttr{
            div{height: 31px;line-height: 30px;float: left;width: 6%;text-align: center;border-right: 1px solid $gray;border-bottom: 1px solid $gray;font-size: 12px;
              input,select{width: 100%;height: 100%;border: none;text-align: center;}
              span{color: red;cursor: pointer;}
            }
            .big{width: 22%;}
            div:first-child{border-left: 1px solid $gray;}
          }
          .wrong{height: 31px;line-height: 30px;border: 1px solid $gray;border-top: none;text-align: center;}
        }
      }
    }
  }
  .refuse-part{background-color: #fff;width: 800px;position: fixed;top: 10%;left: 50%;margin-left: -400px;border: 1px solid $blue1;
    .refuse-body{padding: 20px;
      .info{@include HEIGHT(30px);margin-bottom: 10px;font-size: 16px;}
      .dp-b{width: 460px;margin: 0 auto;
        .reason{height: 30px;width: 100%;
          input,label{display: block;float: left;}
          input{margin-top: 9px;}
          label{@include HEIGHT(30px);margin:  0 0 0 5px;font-weight: normal;cursor: pointer;}
        }
        textarea{width: 100%;height: 150px;padding: 10px;}
      }
    }
  }
  .yd-part{background-color: #fff;width: 942px;position: fixed;top: 5%;left: 50%;margin-left: -471px;border: 1px solid $blue1;
    .zd-body{padding: 20px;
      .txt{width: 300px;margin-bottom: 5px;
        span{display: block;float: left;@include HEIGHT(20px);}
        .title{width: 80px;text-align: left;font-size: 14px;font-weight: 600;}
        .body{width: 200px;}
      }
      p.title{@include HEIGHT(30px);font-size: 20px;font-weight: 600;margin-bottom: 5px;}
      .result-part{
        .r-title{@include HEIGHT(40px);margin: 0;text-align: center;color: #fff;background-color: $gray;font-size: 18px;}
        .yd-body{height: 200px;
          .left{float: left;overflow: auto;width: 200px;border: 1px solid $gray;border-right: none;padding: 10px;height: 200px;
            p{@include HEIGHT(20px);margin-bottom: 5px;}
          }
          .right{width: 700px;float: left;border: 1px solid $gray;
            .yd-tb{height: 165px;overflow: auto;
              table{width: 100%;border-color: $gray;
                td{height: 25px;}
              }
            }
          }
        }
      }
      .add-yd{
        .input{float: left;margin-right: 20px;}
        .warm{border: 1px solid red;}
        .font-red{color: red;}
      }
      .clear{clear: both;}
    }
  }
  .zd-part{background-color: #fff;width: 942px;position: fixed;top: 5%;left: 50%;margin-left: -471px;border: 1px solid $blue1;
    .zd-body{padding: 20px;
      .txt{width: 300px;margin-bottom: 5px;
        span{display: block;float: left;@include HEIGHT(20px);}
        .title{width: 80px;text-align: left;font-size: 14px;font-weight: 600;}
        .body{width: 200px;}
      }
      p.title{@include HEIGHT(30px);font-size: 20px;font-weight: 600;margin-bottom: 5px;}
      table{width: 100%;
        td{height: 30px;width: 20%;position: relative;
          input{height: 100%;width: 100%;border: none;text-align: center;}
          ul{width: 100%;position: absolute;top: 30px;left: 0;z-index: 100;margin: 0;
            li{height: 25px;cursor: pointer;line-height: 25px;border: 1px solid $gray;border-top: none;background-color: #fff;width: 100%;@include NOWRAP();}
            li:first-child{border-top: 1px solid $gray;}
            li:hover{background-color: $sblue;}
            li.active{background-color: $sblue;}
          }
          .choose{cursor: pointer;}
          .glyphicon{padding: 5px;cursor: pointer;}
          .glyphicon-remove{color: red;}
          .glyphicon-plus{color: blue;}
        }
      }
      .clear{clear: both;}
    }
  }
  .change-part{top: 10%;width: 850px;margin-left: -425px;
    .gp-body{max-height: 600px;overflow: auto;}
    .border{
      .sg-info{width: 250px;margin:0 5px 5px 0;float: left;@include HEIGHT(30px);position: relative;padding-left: 70px;
        span{display: block;@include NOWRAP();}
        .ttl{width: 70px;@include HEIGHT(30px);text-align: right;position: absolute;top: 0;left: 0;font-weight: 600;}
      }
      .input{margin-bottom: 5px;
        button{margin: 0 auto;}
        ul{
          li{@include HEIGHT(25px);}
        }
      }
      .mgr-0{margin-right: 0;}
      .result-part{
        .title{@include HEIGHT(40px);margin: 0;text-align: center;color: #fff;background-color: $gray;font-size: 18px;}
      }
      .rdo{@include HEIGHT(30px);
        input,label{display: block;float: left;margin: 0;}
        input{margin: 9px 5px 0 0;}
      }
    }
  }
}
.add-data-tb{width: 100%;
  td{width: 10%;
    input,select{width: 100%;height: 100%;border: none;text-align: center;  }
    .warm{border: 1px solid red;}
  }
}
.ensure-data-tb{width: 100%;
  thead,tfoot{
    tr{display: block;width: 100%  ;
      td{width: 80px;}
    }
  }
  tbody{display:block;max-height: 300px;overflow-y: auto;}
  td{width: 80px;}
  .long-td{width: 880px;}
}
.gp-tb{width: 100%;
  td{border: 1px solid $gray;}
  td.big{height: 60px;font-size: 16px;}
  .wrong{
    td{height: 100px;font-size: 16px;
      a{display: inline;}
    }
  }
}