/* import components */
/* CSS Reset */
* {
  font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
  color: #333;
  padding: 0;
  margin: 0; }

input {
  color: #666; }

button {
  outline: none;
  border: none; }

textarea {
  resize: none; }

ul, ol, dl {
  padding-left: 0;
  list-style-type: none; }

input, textarea, select {
  font-family: inherit;
  outline: none; }

/* scss mixin */
/* variables */
/* method */
/* public class */
/* display */
.dp-i {
  display: inline; }

.dp-b {
  display: block; }

.dp-ib {
  display: inline-block; }

.dp-tb {
  display: table; }

.dp-n {
  display: none; }

/* float */
.fl-l {
  float: left; }

.fl-r {
  float: right !important; }

/* clear */
.cl-b {
  clear: both; }

/* font-family */
.ff-a {
  font-family: Arial,sans-serif; }

.ff-t {
  font-family: Tahoma,sans-serif; }

.ff-v {
  font-family: Verdana,sans-serif; }

.ff-s {
  font-family: Simsun,sans-serif; }

.ff-l {
  font-family: 'Lucida Console',sans-serif; }

.ff-w {
  font-family: 'Microsoft Yahei',sans-serif; }

.ff-skk {
  font-family: STKaiti,KaiTi,SimSun,sans-serif; }

/* text-align */
.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.ta-l {
  text-align: left; }

.ta-j {
  text-align: justify; }

/* padding & margin */
.pr-20 {
  padding-right: 20px; }

.pl-20 {
  padding-left: 20px; }

.mr-10 {
  margin-right: 10px; }

.fill:after {
  content: '';
  display: block;
  clear: both; }

/* button */
.lg-btn {
  display: block;
  width: 300px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-radius: 5px; }

.md-btn {
  display: block;
  width: 180px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 5px; }

.sm-btn {
  display: block;
  width: 60px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 2px; }

.blue-btn {
  color: #fff;
  background-color: #074ba0; }

.blue-btn:hover {
  background-color: #003271; }

.blue-btn:active {
  background-color: #002655; }

.red-btn {
  color: #fff;
  background-color: #bc0b5c; }

.red-btn:hover {
  background-color: #930546; }

.red-btn:active {
  background-color: #720135; }

.white-btn {
  color: #074ba0;
  background-color: #fff;
  border: 1px solid #074ba0; }

.white-btn:hover {
  background-color: #f4f4f4; }

.white-btn:active {
  background-color: #dedede; }

.lg-input {
  height: 50px;
  width: 300px;
  padding-left: 14px;
  font-size: 14px;
  color: #999;
  border: 1px solid #d4d4d4; }

.sm-input {
  height: 30px;
  width: 180px;
  padding-left: 10px;
  font-size: 12px;
  color: #999;
  border: 1px solid #d4d4d4; }

.lg-input:focus, .sm-input:focus {
  border: 1px solid #7aaeee; }

input.wrong {
  border: 1px solid #ff0000; }

input[readonly] {
  background-color: #f4f4f4;
  border: 1px solid #d4d4d4; }

.lg-select {
  width: 300px;
  height: 50px;
  border: 1px solid #d4d4d4;
  padding-left: 14px;
  color: #999; }
  .lg-select option {
    height: 35px;
    padding-left: 14px;
    color: #666; }
  .lg-select option:hover {
    color: #333;
    background-color: #f4f4f4; }

.lg-select:focus {
  color: #333; }

.sm-select {
  width: 180px;
  height: 30px;
  border: 1px solid #d4d4d4;
  padding-left: 10px;
  color: #999;
  font-size: 12px; }
  .sm-select option {
    height: 100px;
    padding-left: 10px;
    color: #666;
    font-size: 12px; }
  .sm-select option:hover {
    color: #333;
    background-color: #f4f4f4 !important; }

.sm-select:focus {
  color: #333; }

/* public part */
.white-back .set-part .body {
  padding: 20px; }

.white-back .set-part .body .warm-info {
  width: 45%;
  float: left;
  margin-left: 5%; }

.white-back .set-part .body textarea {
  width: 50%;
  float: left;
  height: 200px;
  padding: 10px; }

.skin-blue .wrapper .main-sidebar {
  padding: 0;
  width: 230px;
  background-color: #002e66;
  min-height: 100%;
  padding-bottom: 50px; }
  .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header {
    height: 270px;
    background: url("/images/ic.png") no-repeat -40px -285px; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header a {
      border: none;
      height: 90px;
      width: 90px;
      padding: 0;
      margin: 40px auto 0; }
      .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header a img {
        display: block;
        height: 90px;
        width: 90px;
        border-radius: 50%; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header a:hover {
      border: none; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header p {
      text-align: center;
      color: #FFF; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header .u-name {
      font-size: 18px;
      margin-top: 30px; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header .u-level {
      font-size: 14px; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header .login-out {
      font-size: 12px; }
      .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header .login-out a {
        color: #fff;
        text-decoration: underline; }
      .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .header .login-out a:hover {
        text-decoration: none; }
  .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview {
    background-color: #003676; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .title-part {
      font-size: 18px;
      margin: 0;
      height: 50px; }
      .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .title-part span, .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .title-part i {
        color: #a6cfff; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .title-part:hover {
      background-color: #003676; }
      .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .title-part:hover span, .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .title-part:hover i {
        color: #fff; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .treeview-menu li a {
      background: #0f478b;
      font-size: 14px;
      color: #a6cfff; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .treeview-menu li a:hover {
      color: #fff; }
    .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .treeview .treeview-menu li a.act {
      color: #fff; }
  .skin-blue .wrapper .main-sidebar .sidebar .sidebar-menu .active .title-part span {
    color: #fff; }
.skin-blue .wrapper .main-header .navbar {
  background-color: #f3f3f4;
  min-width: 1050px; }
  .skin-blue .wrapper .main-header .navbar .t-logo {
    display: block;
    height: 50px;
    width: 500px;
    float: left;
    background: url("/images/ic.png") no-repeat -35px -57px; }
.skin-blue .wrapper .content-wrapper {
  min-width: 1050px;
  background-color: #ecf0f5;
  padding: 20px 0;
  overflow: auto; }

.alert-modal-element {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(3, 3, 3, 0.5);
  z-index: 100000; }
  .alert-modal-element .alert-modal-content {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 100001; }
    .alert-modal-element .alert-modal-content .alert-modal-body span {
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px;
      font-size: 16px;
      text-align: center; }
    .alert-modal-element .alert-modal-content .alert-modal-footer {
      height: 51px;
      border-top: 1px solid transparent; }
      .alert-modal-element .alert-modal-content .alert-modal-footer button {
        display: block;
        margin: 10px auto;
        width: 60px;
        height: 30px;
        color: #fff;
        background-color: #074ba0;
        border-radius: 2px;
        font-size: 14px; }
      .alert-modal-element .alert-modal-content .alert-modal-footer button:hover {
        background-color: #003271; }
      .alert-modal-element .alert-modal-content .alert-modal-footer button:focus {
        background-color: #002655; }

.datetimepicker {
  padding: 0;
  margin: 0; }
  .datetimepicker table {
    border-collapse: separate; }
    .datetimepicker table thead tr .prev {
      visibility: visible !important; }
    .datetimepicker table thead tr .next {
      visibility: visible !important; }
    .datetimepicker table thead tr th {
      background-color: #248fd5;
      border-radius: 0;
      color: #fff;
      border-bottom: 1px solid #E3F0FF; }
      .datetimepicker table thead tr th .glyphicon {
        color: #fff; }
    .datetimepicker table thead tr th.prev:hover, .datetimepicker table thead tr th.next:hover, .datetimepicker table thead tr th.switch:hover {
      background: #248fd5; }
    .datetimepicker table tbody tr td {
      background-color: #85d1ff;
      border-radius: 0;
      border: 1px solid #E3F0FF;
      color: #fff;
      font-size: 12px; }
    .datetimepicker table tbody tr .day:hover, .datetimepicker table tbody tr .old:hover, .datetimepicker table tbody tr .new:hover {
      background: #FFE744;
      color: #333; }
    .datetimepicker table tbody tr .disabled {
      background-color: #f0f0f0;
      color: #333; }
    .datetimepicker table tbody tr .disabled:hover {
      background-color: #f0f0f0;
      color: #333; }
    .datetimepicker table tbody tr .day.active {
      background: #FFE744;
      color: #333;
      border: none; }
    .datetimepicker table tbody tr .day.active:hover {
      background: #FFE744;
      color: #333; }

.white-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  top: 0;
  left: 0;
  z-index: 10000; }
  .white-back .alert-part, .white-back .show-part {
    background-color: #fff;
    width: 802px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -400px;
    border: 1px solid #074BA0; }
    .white-back .alert-part .header, .white-back .show-part .header {
      height: 30px;
      line-height: 30px;
      background-color: #074BA0;
      color: #fff;
      font-size: 16px;
      padding: 0 0 0 20px;
      margin-bottom: 0; }
      .white-back .alert-part .header span, .white-back .show-part .header span {
        display: block;
        float: right;
        height: 30px;
        line-height: 30px;
        width: 40px;
        text-align: center;
        color: #fff;
        cursor: pointer; }
    .white-back .alert-part .warm, .white-back .show-part .warm {
      border: 1px solid red; }
    .white-back .alert-part .input, .white-back .show-part .input {
      float: left;
      width: 250px;
      margin-right: 5px;
      position: relative; }
      .white-back .alert-part .input label, .white-back .alert-part .input input, .white-back .show-part .input label, .white-back .show-part .input input {
        display: block;
        float: left; }
      .white-back .alert-part .input label, .white-back .show-part .input label {
        height: 30px;
        line-height: 30px;
        margin: 0;
        width: 70px;
        text-align: right; }
      .white-back .alert-part .input ul, .white-back .show-part .input ul {
        width: 180px;
        position: absolute;
        right: 0;
        top: 30px;
        z-index: 10000; }
        .white-back .alert-part .input ul li, .white-back .show-part .input ul li {
          text-align: center;
          height: 30px;
          line-height: 30px;
          border: 1px solid #ccc;
          background-color: #fff;
          border-top: none;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .white-back .alert-part .input ul li:first-child, .white-back .show-part .input ul li:first-child {
          border-top: 1px solid #ccc; }
        .white-back .alert-part .input ul li:hover, .white-back .show-part .input ul li:hover {
          background-color: #d9ecf8; }
        .white-back .alert-part .input ul li.active, .white-back .show-part .input ul li.active {
          background-color: #d9ecf8; }
    .white-back .alert-part .info, .white-back .show-part .info {
      height: 30px;
      line-height: 30px;
      width: 250px;
      margin-right: 5px;
      float: left;
      text-align: center; }
    .white-back .alert-part .clr, .white-back .show-part .clr {
      clear: both; }
    .white-back .alert-part .mg-0, .white-back .show-part .mg-0 {
      margin: 0; }
    .white-back .alert-part .mgt-10, .white-back .show-part .mgt-10 {
      margin-top: 10px; }
    .white-back .alert-part .border, .white-back .show-part .border {
      border-bottom: 1px solid #ccc;
      padding: 20px; }
    .white-back .alert-part p.title, .white-back .show-part p.title {
      font-size: 16px;
      font-weight: 600;
      height: 30px;
      line-height: 30px;
      margin-bottom: 10px; }
    .white-back .alert-part .main-info, .white-back .show-part .main-info {
      height: 66px;
      line-height: 30px;
      padding: 18px;
      background-color: #ebebeb; }
      .white-back .alert-part .main-info p.font-red, .white-back .show-part .main-info p.font-red {
        color: red;
        text-align: center; }
      .white-back .alert-part .main-info .dp-tb, .white-back .show-part .main-info .dp-tb {
        margin: 0 auto; }
        .white-back .alert-part .main-info .dp-tb .input, .white-back .show-part .main-info .dp-tb .input {
          width: 280px;
          margin: 0 auto; }
          .white-back .alert-part .main-info .dp-tb .input label, .white-back .show-part .main-info .dp-tb .input label {
            width: 100px; }
    .white-back .alert-part .btn-pt, .white-back .show-part .btn-pt {
      display: table;
      margin: 0 auto; }
      .white-back .alert-part .btn-pt button, .white-back .show-part .btn-pt button {
        margin: 20px 0 30px;
        width: 100px; }
      .white-back .alert-part .btn-pt button:first-child, .white-back .show-part .btn-pt button:first-child {
        margin-right: 20px; }

.change-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  top: 0;
  left: 0;
  z-index: 1000; }
  .change-back .change-pwd {
    background-color: #fff;
    width: 802px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -400px;
    border: 1px solid #074BA0; }
    .change-back .change-pwd .header {
      height: 40px;
      line-height: 40px;
      background-color: #074BA0;
      color: #fff;
      font-size: 24px;
      padding: 0 0 0 20px;
      margin-bottom: 0; }
      .change-back .change-pwd .header span {
        display: block;
        float: right;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        color: #fff;
        cursor: pointer; }
    .change-back .change-pwd .warm {
      border: 1px solid red; }
    .change-back .change-pwd .pwd-body {
      background-color: #fff; }
      .change-back .change-pwd .pwd-body .radio {
        overflow: hidden;
        height: 40px;
        padding-left: 180px;
        margin-top: 10px; }
        .change-back .change-pwd .pwd-body .radio span {
          width: 100px;
          height: 40px;
          line-height: 40px;
          text-align: right;
          font-weight: 600; }
        .change-back .change-pwd .pwd-body .radio div {
          margin-right: 20px; }
          .change-back .change-pwd .pwd-body .radio div label {
            display: block;
            float: right;
            padding: 0;
            margin: 0;
            height: 40px;
            line-height: 40px; }
          .change-back .change-pwd .pwd-body .radio div input {
            position: static;
            display: block;
            float: left;
            margin: 14px 0 0 5px; }
      .change-back .change-pwd .pwd-body .input {
        overflow: hidden;
        height: 30px;
        margin-top: 20px;
        padding-left: 210px;
        width: 100%; }
        .change-back .change-pwd .pwd-body .input label, .change-back .change-pwd .pwd-body .input input {
          display: block;
          float: left; }
        .change-back .change-pwd .pwd-body .input label {
          width: 100px;
          text-align: right;
          margin: 0;
          height: 30px;
          line-height: 30px;
          font-weight: normal;
          color: #333; }
        .change-back .change-pwd .pwd-body .input .upload {
          display: block;
          float: left;
          height: 30px;
          line-height: 30px;
          padding: 0 5px;
          position: relative;
          z-index: 1;
          overflow: hidden; }
          .change-back .change-pwd .pwd-body .input .upload input {
            position: absolute;
            z-index: 100000;
            opacity: 0;
            font-size: 100px;
            top: 0;
            right: 0; }
        .change-back .change-pwd .pwd-body .input .up-img {
          float: left;
          height: 30px;
          line-height: 30px;
          width: 30px;
          text-align: center;
          font-size: 18px; }
    .change-back .change-pwd .btn-pt {
      display: table;
      margin: 0 auto; }
      .change-back .change-pwd .btn-pt button {
        margin: 20px 0 30px;
        width: 100px; }
      .change-back .change-pwd .btn-pt button:first-child {
        margin-right: 20px; }

.pager-info {
  height: 35px;
  padding-right: 20px; }
  .pager-info .pagination {
    margin: 0;
    float: right; }
  .pager-info .pager-record {
    margin: 0;
    float: right;
    height: 35px;
    line-height: 35px;
    margin-left: 20px; }
  .pager-info .pages {
    cursor: pointer; }

.bh-body {
  padding: 40px 0; }
  .bh-body .dp-tb {
    margin: 0 auto; }
    .bh-body .dp-tb .files, .bh-body .dp-tb .up-part {
      float: left;
      width: 60px;
      height: 80px;
      margin-right: 20px; }
      .bh-body .dp-tb .files .top, .bh-body .dp-tb .up-part .top {
        height: 60px;
        width: 60px;
        color: #999999;
        border: 1px solid #dddddd;
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        font-weight: 600;
        position: relative; }
        .bh-body .dp-tb .files .top .glyphicon, .bh-body .dp-tb .up-part .top .glyphicon {
          height: 15px;
          width: 15px;
          display: block;
          position: absolute;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          cursor: pointer;
          right: 0;
          top: 40px; }
      .bh-body .dp-tb .files a, .bh-body .dp-tb .up-part a {
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: underline; }

.none-f a {
  cursor: not-allowed; }
.none-f .img {
  color: rgba(112, 181, 255, 0.5);
  border-color: rgba(112, 181, 255, 0.5); }
.none-f .txt {
  color: gray; }

.top-info {
  margin: 0 auto;
  width: 90%;
  border: 1px solid #ccc;
  border-top: 2px solid #339cd0;
  border-bottom: none;
  background-color: #ebebeb;
  height: 55px;
  padding: 0 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .top-info p {
    display: block;
    float: left;
    height: 53px;
    line-height: 53px;
    margin: 0; }
  .top-info .p-info {
    width: 30%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .top-info .p-info span {
      font-size: 18px;
      color: #339cd0; }
  .top-info .p-1 {
    width: 25%; }
  .top-info .p-3 {
    width: 35%; }
  .top-info .zwf {
    width: 5%; }

.jdt {
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid transparent;
  padding: 0 40px; }
  .jdt .timeLines {
    width: 100%;
    margin: 20px auto;
    height: 120px; }
    .jdt .timeLines .timeLine {
      width: 25%;
      float: left;
      text-align: center;
      position: relative;
      top: 50px; }
      .jdt .timeLines .timeLine p.icon {
        height: 12px;
        width: 12px;
        margin: 0 auto 5px;
        border-radius: 50%;
        border: 1px solid #C2C8CB;
        position: relative;
        z-index: 10;
        background: white; }
      .jdt .timeLines .timeLine p.line:before {
        content: '';
        border-top: 2px solid #C2C8CB;
        position: absolute;
        width: 50%;
        left: 0;
        top: 6px; }
      .jdt .timeLines .timeLine p.line:after {
        content: '';
        border-top: 2px solid #C2C8CB;
        position: absolute;
        width: 50%;
        right: 0;
        top: 6px; }
      .jdt .timeLines .timeLine .txt {
        line-height: 15px;
        color: #999;
        font-size: 12px; }
    .jdt .timeLines .positionL {
      margin-left: -25%;
      top: 70px; }
      .jdt .timeLines .positionL p.line-side:before {
        content: '';
        border-left: 2px solid #C2C8CB;
        position: absolute;
        height: 20px;
        left: 0;
        top: -14px; }
      .jdt .timeLines .positionL p.line-side:after {
        content: '';
        border-right: 2px solid #C2C8CB;
        position: absolute;
        height: 20px;
        right: 0;
        top: -14px; }
    .jdt .timeLines .position {
      top: 0; }
      .jdt .timeLines .position p.icon {
        top: 15px; }
      .jdt .timeLines .position p.line:before {
        top: 35px; }
      .jdt .timeLines .position p.line:after {
        top: 35px; }
      .jdt .timeLines .position p.line-side:before {
        content: '';
        border-left: 2px solid #C2C8CB;
        position: absolute;
        height: 20px;
        left: 0;
        top: 36px; }
      .jdt .timeLines .position p.line-side:after {
        content: '';
        border-right: 2px solid #C2C8CB;
        position: absolute;
        height: 20px;
        right: 0;
        top: 36px; }
    .jdt .timeLines .timeLine:first-child p.line:before {
      display: none; }
    .jdt .timeLines .timeLine:last-child p.line:after {
      display: none; }
    .jdt .timeLines .blue p.line:before, .jdt .timeLines .blue p.line:after, .jdt .timeLines .blue p.icon, .jdt .timeLines .blue p.line-side:before, .jdt .timeLines .blue p.line-side:after, .jdt .timeLines .blue p.icon {
      border-color: #6893C0;
      background-color: #6893C0; }
    .jdt .timeLines .blue .txt {
      color: #1868BD; }
    .jdt .timeLines .active p.icon {
      background-color: #6893C0; }
    .jdt .timeLines .active p.line:after, .jdt .timeLines .active p.line-side:after {
      border-color: #C2C8CB; }
    .jdt .timeLines .active .txt {
      color: #1868BD; }

.body-info {
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .body-info .p-info {
    padding-left: 80px;
    position: relative;
    height: 30px;
    margin: 0; }
    .body-info .p-info span {
      display: block;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px; }
    .body-info .p-info .title {
      position: absolute;
      width: 80px;
      top: 0;
      left: 0;
      font-weight: 600; }
  .body-info .half {
    width: 50%;
    float: left; }
    .body-info .half .d-wtxx, .body-info .half .d-jcxx {
      width: 50%;
      float: left; }
      .body-info .half .d-wtxx .p-info, .body-info .half .d-jcxx .p-info {
        width: 100%;
        padding-left: 60px; }
        .body-info .half .d-wtxx .p-info .title, .body-info .half .d-jcxx .p-info .title {
          width: 60px; }
      .body-info .half .d-wtxx .p-clear, .body-info .half .d-jcxx .p-clear {
        margin: 10px 0 0;
        color: #339cd0; }
    .body-info .half .ck-half {
      width: 50%;
      float: left;
      padding-left: 60px; }
      .body-info .half .ck-half .title {
        width: 60px; }
  .body-info .d-hbxx .p-info {
    width: 100%; }
  .body-info .ott {
    width: 33%;
    float: left; }
    .body-info .ott .border p {
      padding-left: 10px;
      margin: 0 0 5px 0;
      line-height: 25px; }
      .body-info .ott .border p span {
        margin-right: 15px; }
    .body-info .ott .no-ship {
      height: 100px;
      line-height: 98px;
      color: #999; }
  .body-info .second, .body-info .third {
    border-bottom: 1px solid #ccc; }
  .body-info .ddfj-pub {
    width: 100%;
    border: 1px solid #248FD5;
    margin: 10px auto;
    padding: 20px; }
    .body-info .ddfj-pub .title {
      color: #666;
      font-size: 12px;
      line-height: 25px;
      padding-left: 125px;
      position: relative; }
      .body-info .ddfj-pub .title span.logo {
        display: block;
        float: left;
        color: #248fd5;
        width: 125px;
        position: absolute;
        top: 0;
        left: 0; }
      .body-info .ddfj-pub .title span.logo:before {
        content: '';
        display: block;
        margin-right: 5px;
        float: left;
        width: 25px;
        height: 25px;
        background: url("../../../../images/iconmap1.png") no-repeat -66px -433px; }
      .body-info .ddfj-pub .title .send-bg {
        padding: 0 10px;
        border-radius: 5px;
        background-color: #ff8600;
        color: #fff; }
    .body-info .ddfj-pub .add, .body-info .ddfj-pub .add-type {
      width: 90px;
      height: 120px;
      float: left;
      margin: 10px 0 0 20px;
      position: relative;
      overflow: hidden; }
      .body-info .ddfj-pub .add input, .body-info .ddfj-pub .add-type input {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 100px;
        opacity: 0;
        cursor: pointer; }
      .body-info .ddfj-pub .add .top, .body-info .ddfj-pub .add-type .top {
        height: 90px;
        width: 90px;
        color: #1868bd;
        border: 1px solid #1868bd;
        text-align: center;
        line-height: 90px;
        font-size: 30px;
        font-weight: 600; }
      .body-info .ddfj-pub .add a, .body-info .ddfj-pub .add-type a {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #1868bd; }
    .body-info .ddfj-pub .up-part, .body-info .ddfj-pub .add-type.active {
      width: 90px;
      height: 120px;
      float: left;
      margin: 10px 0 0 20px; }
      .body-info .ddfj-pub .up-part .top, .body-info .ddfj-pub .add-type.active .top {
        height: 90px;
        width: 90px;
        color: #a5ba00;
        border: 1px solid #a5ba00;
        text-align: center;
        padding-top: 30px;
        position: relative;
        font-size: 14px;
        line-height: 0;
        font-weight: 600; }
        .body-info .ddfj-pub .up-part .top a, .body-info .ddfj-pub .add-type.active .top a {
          display: block;
          height: 20px;
          width: 20px;
          position: absolute; }
        .body-info .ddfj-pub .up-part .top .rm, .body-info .ddfj-pub .up-part .top .rm-type, .body-info .ddfj-pub .add-type.active .top .rm, .body-info .ddfj-pub .add-type.active .top .rm-type {
          background: url("../../../../images/iconmap1.png") no-repeat -142px -43px;
          bottom: 5px;
          left: 5px; }
        .body-info .ddfj-pub .up-part .top .dl, .body-info .ddfj-pub .add-type.active .top .dl {
          background: url("../../../../images/iconmap1.png") no-repeat -140px -78px;
          bottom: 5px;
          right: 5px; }
      .body-info .ddfj-pub .up-part a, .body-info .ddfj-pub .add-type.active a {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .body-info .fxtzs {
    width: 50%;
    border: 1px solid #248FD5;
    float: left;
    padding: 20px;
    margin-bottom: 10px; }
    .body-info .fxtzs .title {
      color: #666;
      font-size: 12px;
      line-height: 25px; }
      .body-info .fxtzs .title span.logo {
        display: block;
        float: left;
        color: #248fd5; }
      .body-info .fxtzs .title span.logo:before {
        content: '';
        display: block;
        margin-right: 5px;
        float: left;
        width: 25px;
        height: 25px;
        background: url("../../../../images/iconmap1.png") no-repeat -62px -276px; }
      .body-info .fxtzs .title .fxtzs-fill .dl {
        width: 60px;
        height: 90px;
        margin: 20px 0 0 20px;
        position: relative; }
        .body-info .fxtzs .title .fxtzs-fill .dl .cover {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(255, 255, 255, 0.7); }
        .body-info .fxtzs .title .fxtzs-fill .dl .img {
          height: 60px;
          width: 60px;
          border: 1px solid #70b5ff;
          font-size: 36px;
          line-height: 60px;
          text-align: center;
          color: rgba(112, 181, 255, 0.7); }
        .body-info .fxtzs .title .fxtzs-fill .dl .txt {
          height: 30px;
          line-height: 30px;
          text-align: center;
          color: #000;
          text-decoration: underline;
          font-size: 12px; }
    .body-info .fxtzs .up-part {
      width: 90px;
      height: 120px;
      float: left;
      margin: 10px 0 0 20px; }
      .body-info .fxtzs .up-part .top {
        height: 90px;
        width: 90px;
        color: #a5ba00;
        border: 1px solid #a5ba00;
        text-align: center;
        padding-top: 30px;
        position: relative;
        font-size: 14px;
        line-height: 0;
        font-weight: 600; }
        .body-info .fxtzs .up-part .top a {
          display: block;
          height: 20px;
          width: 20px;
          position: absolute; }
        .body-info .fxtzs .up-part .top .rm, .body-info .fxtzs .up-part .top .rm-type {
          background: url("../../../../images/iconmap1.png") no-repeat -142px -43px;
          bottom: 5px;
          left: 5px; }
        .body-info .fxtzs .up-part .top .dl {
          background: url("../../../../images/iconmap1.png") no-repeat -140px -78px;
          bottom: 5px;
          right: 5px; }
        .body-info .fxtzs .up-part .top .span-a {
          display: block;
          height: 20px;
          width: 20px;
          position: absolute;
          background: url("../../../../images/iconmap1.png") no-repeat -140px -78px;
          bottom: 5px;
          right: 5px;
          cursor: pointer; }
      .body-info .fxtzs .up-part a {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .body-info table {
    width: 100%; }
    .body-info table td {
      height: 30px;
      text-align: center;
      font-size: 12px;
      color: #333;
      border: 1px solid #ddd; }
    .body-info table thead td {
      font-weight: 600; }
    .body-info table .tr-xj {
      border: 1px solid #ddd; }
      .body-info table .tr-xj td {
        background: #f4f4f4;
        color: #1c4d8f;
        border: none; }
      .body-info table .tr-xj .font-g {
        text-align: left;
        color: #a7a7a7;
        padding-left: 10px; }
    .body-info table .tr-zj {
      border: 1px solid #ddd; }
      .body-info table .tr-zj td {
        height: 42px;
        font-size: 12px;
        color: #1c4d8f;
        border: none; }
  .body-info .hwxx a {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-top: 20px;
    text-decoration: underline;
    color: #339cd0; }
  .body-info .hwxx a:hover {
    text-decoration: none; }
  .body-info .hwxx button {
    float: right;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    font-size: 12px;
    padding: 0 5px;
    margin-left: 10px;
    border-radius: 2px;
    color: #fff;
    font-weight: normal; }

.m-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  clear: both;
  margin: 0; }

.fd-part {
  width: 100%;
  margin: 0 auto 40px;
  padding-top: 20px;
  background: #f3f3f3; }
  .fd-part table {
    width: 100%;
    margin-bottom: 20px; }
    .fd-part table td {
      height: 30px;
      text-align: center;
      font-size: 12px;
      color: #333;
      border: 1px solid #ddd; }
    .fd-part table thead td {
      font-weight: 600; }
    .fd-part table .tr-xj {
      border: 1px solid #ddd; }
      .fd-part table .tr-xj td {
        background: #f4f4f4;
        color: #1c4d8f;
        border: none; }
      .fd-part table .tr-xj .font-g {
        text-align: left;
        color: #a7a7a7;
        padding-left: 10px; }
    .fd-part table .tr-zj {
      border: 1px solid #ddd; }
      .fd-part table .tr-zj td {
        height: 42px;
        font-size: 12px;
        color: #1c4d8f;
        border: none; }
  .fd-part .add, .fd-part .add-type {
    width: 90px;
    height: 120px;
    float: left;
    margin: 10px 0 0 20px;
    position: relative;
    overflow: hidden; }
    .fd-part .add input, .fd-part .add-type input {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 100px;
      opacity: 0;
      cursor: pointer; }
    .fd-part .add .top, .fd-part .add-type .top {
      height: 90px;
      width: 90px;
      color: #1868bd;
      border: 1px solid #1868bd;
      text-align: center;
      line-height: 90px;
      font-size: 30px;
      font-weight: 600; }
    .fd-part .add a, .fd-part .add-type a {
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
      color: #1868bd; }
  .fd-part .up-part, .fd-part .add-type.active {
    width: 90px;
    height: 120px;
    float: left;
    margin: 10px 0 0 20px; }
    .fd-part .up-part .top, .fd-part .add-type.active .top {
      height: 90px;
      width: 90px;
      color: #a5ba00;
      border: 1px solid #a5ba00;
      text-align: center;
      padding-top: 30px;
      position: relative;
      font-size: 14px;
      line-height: 0;
      font-weight: 600; }
      .fd-part .up-part .top a, .fd-part .add-type.active .top a {
        display: block;
        height: 20px;
        width: 20px;
        position: absolute; }
      .fd-part .up-part .top .rm, .fd-part .up-part .top .rm-type, .fd-part .add-type.active .top .rm, .fd-part .add-type.active .top .rm-type {
        background: url("../../../../images/iconmap1.png") no-repeat -142px -43px;
        bottom: 5px;
        left: 5px; }
      .fd-part .up-part .top .dl, .fd-part .add-type.active .top .dl {
        background: url("../../../../images/iconmap1.png") no-repeat -140px -78px;
        bottom: 5px;
        right: 5px; }
    .fd-part .up-part a, .fd-part .add-type.active a {
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
      color: #000;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .fd-part .change-tab span {
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    color: #999999;
    background: #dddddd;
    cursor: pointer; }
  .fd-part .change-tab span.active {
    background: #63b8e2;
    color: #fff; }
  .fd-part .change-tab a {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
    color: #339cd0; }
  .fd-part .change-tab a:hover {
    text-decoration: none; }
  .fd-part .change-tab button {
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #eb9b16;
    border-radius: 2px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
    color: #fff; }
  .fd-part .change-tab button[disabled] {
    background: #cccccc; }
  .fd-part .body-tabs {
    background: #fff; }
    .fd-part .body-tabs .tabs {
      display: none; }
    .fd-part .body-tabs .tabs.active {
      display: block; }
    .fd-part .body-tabs #wfdhw {
      padding: 0 10px;
      overflow: hidden; }
      .fd-part .body-tabs #wfdhw .m-title {
        padding-left: 10px;
        height: 60px;
        line-height: 60px; }
        .fd-part .body-tabs #wfdhw .m-title button {
          background-color: #eb9b16;
          width: 80px;
          height: 30px;
          line-height: 30px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          font-weight: normal;
          margin-top: 15px; }
    .fd-part .body-tabs #yfdhw {
      overflow: hidden; }
      .fd-part .body-tabs #yfdhw .sg-yfd {
        margin-bottom: 1px; }
        .fd-part .body-tabs #yfdhw .sg-yfd button {
          display: block;
          width: 100%;
          height: 50px;
          padding-left: 25px;
          background: #63b8e2; }
          .fd-part .body-tabs #yfdhw .sg-yfd button input, .fd-part .body-tabs #yfdhw .sg-yfd button span, .fd-part .body-tabs #yfdhw .sg-yfd button p {
            float: left;
            color: #fff;
            font-size: 16px; }
          .fd-part .body-tabs #yfdhw .sg-yfd button input {
            margin: 19px 20px 0 0; }
          .fd-part .body-tabs #yfdhw .sg-yfd button p {
            height: 50px;
            line-height: 50px;
            margin: 0; }
          .fd-part .body-tabs #yfdhw .sg-yfd button .fdzt, .fd-part .body-tabs #yfdhw .sg-yfd button .bgzt {
            height: 35px;
            line-height: 33px;
            width: 90px;
            text-align: center;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid #ffffff;
            margin: 7px 0 0 20px; }
          .fd-part .body-tabs #yfdhw .sg-yfd button span.sb {
            background: #ffffff;
            color: #ff0000; }
          .fd-part .body-tabs #yfdhw .sg-yfd button .fl-r {
            float: right;
            font-size: 14px;
            color: #ffffff;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #3b88ae;
            width: 80px; }
        .fd-part .body-tabs #yfdhw .sg-yfd .input-show {
          padding-left: 58px; }
          .fd-part .body-tabs #yfdhw .sg-yfd .input-show input {
            display: none; }
        .fd-part .body-tabs #yfdhw .sg-yfd .i-hide {
          background: #6e9eb7 !important; }
        .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-top {
          padding: 0 20px;
          border-bottom: 1px solid #dddddd;
          padding-bottom: 10px;
          word-break: break-all;
          word-wrap: break-word; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-top .fd-info {
            width: 18%;
            float: left;
            margin-right: 62px; }
            .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-top .fd-info p {
              line-height: 25px;
              font-size: 12px;
              color: #000;
              margin: 0; }
              .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-top .fd-info p span {
                float: left;
                height: 25px;
                line-height: 25px;
                width: 80px;
                color: #000;
                text-align: right;
                padding-right: 5px; }
            .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-top .fd-info .no-sfhr {
              height: 50px;
              line-height: 50px;
              color: #999; }
            .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-top .fd-info .title {
              font-size: 16px;
              height: 50px;
              line-height: 50px;
              font-weight: 600;
              color: #333;
              margin: 0; }
              .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-top .fd-info .title a {
                margin-left: 10px;
                font-size: 14px; }
        .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-middle .title {
          font-size: 16px;
          height: 50px;
          line-height: 50px;
          font-weight: 600;
          color: #333;
          padding-left: 20px;
          margin: 0; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-middle .title a {
            height: 30px;
            line-height: 30px;
            margin: 10px 0 0 0;
            font-size: 14px;
            color: #339cd0;
            text-decoration: underline;
            font-weight: normal; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-middle .title a:hover {
            text-decoration: none; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-middle .title button {
            background-color: #eb9b16;
            width: 80px;
            height: 30px;
            line-height: 30px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            font-weight: normal;
            margin-top: 10px;
            padding: 0;
            margin-left: 10px; }
        .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .title, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .title, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .title {
          font-size: 16px;
          height: 50px;
          line-height: 50px;
          font-weight: 600;
          color: #333;
          padding-left: 20px;
          margin: 0; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .title a, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .title a, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .title a {
            height: 30px;
            line-height: 30px;
            margin: 10px 0 0 0;
            font-size: 14px;
            color: #339cd0;
            text-decoration: underline;
            font-weight: normal; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .title a:hover, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .title a:hover, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .title a:hover {
            text-decoration: none; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .title button, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .title button, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .title button {
            background-color: #eb9b16;
            width: 80px;
            height: 30px;
            line-height: 30px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            font-weight: normal;
            margin-top: 10px;
            padding: 0;
            margin-left: 10px; }
        .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .dl, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .dl, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .dl {
          width: 60px;
          height: 90px;
          margin: 20px 0 0 20px;
          position: relative; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .dl .cover, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .dl .cover, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .dl .cover {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.7); }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .dl .img, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .dl .img, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .dl .img {
            height: 60px;
            width: 60px;
            border: 1px solid #70b5ff;
            font-size: 36px;
            line-height: 60px;
            text-align: center;
            color: rgba(112, 181, 255, 0.7); }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .dl .txt, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .dl .txt, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .dl .txt {
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #000;
            text-decoration: underline;
            font-size: 12px; }
        .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-fileDown .left p:before, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-yld .left p:before, .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fxtzs .dl-file .left p:before {
          content: '';
          display: block;
          float: left;
          height: 25px;
          width: 25px;
          margin-right: 5px;
          background: url("../../../../images/iconmap1.png") no-repeat -62px -276px; }
        .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-bottom .ddfj-pub {
          border: none;
          padding: 0; }
          .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-bottom .ddfj-pub .title {
            margin: 0;
            padding-left: 20px; }
            .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-bottom .ddfj-pub .title span {
              float: left; }
            .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-bottom .ddfj-pub .title .one {
              height: 50px;
              line-height: 50px;
              font-size: 16px;
              font-weight: 600;
              color: #333; }
            .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-bottom .ddfj-pub .title .two {
              margin-left: 10px;
              color: #999;
              line-height: 25px; }
              .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-bottom .ddfj-pub .title .two .send-bg {
                padding: 0 10px;
                border-radius: 5px;
                background-color: #ff8600;
                color: #fff;
                display: inline-block;
                height: 25px;
                width: auto;
                margin-left: 10px; }
            .fd-part .body-tabs #yfdhw .sg-yfd .fd-info-body .fd-bottom .ddfj-pub .title .wxts {
              color: #ff9f00; }

.white-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  top: 0;
  left: 0;
  z-index: 10000; }
  .white-back .alert-part .header {
    height: 40px;
    line-height: 40px;
    background-color: #074BA0;
    color: #fff;
    font-size: 18px;
    padding: 0 0 0 20px; }
    .white-back .alert-part .header span {
      display: block;
      float: right;
      height: 40px;
      line-height: 40px;
      width: 50px;
      text-align: center;
      color: #fff;
      cursor: pointer; }
  .white-back .alert-part .btn-pt {
    display: table;
    margin: 0 auto; }
    .white-back .alert-part .btn-pt button {
      margin-top: 20px; }
    .white-back .alert-part .btn-pt button:first-child {
      margin-right: 20px; }
  .white-back .contact-modal {
    background-color: #fff;
    width: 802px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -400px;
    border: 1px solid #074BA0; }
    .white-back .contact-modal .header {
      height: 50px;
      line-height: 50px;
      background-color: #074BA0;
      color: #fff;
      font-size: 24px;
      padding: 0 0 0 20px; }
      .white-back .contact-modal .header span {
        display: block;
        float: right;
        height: 50px;
        line-height: 50px;
        width: 50px;
        text-align: center;
        color: #fff;
        cursor: pointer; }
    .white-back .contact-modal .sel-tp {
      height: 41px;
      line-height: 40px;
      border-bottom: 1px solid #eaeaea; }
      .white-back .contact-modal .sel-tp span {
        display: block;
        float: left;
        height: 40px;
        line-height: 40px;
        width: 80px;
        text-align: center;
        border-right: 1px solid #eaeaea;
        cursor: pointer; }
    .white-back .contact-modal .ticket-body {
      background-color: #fff; }
      .white-back .contact-modal .ticket-body .new .radio {
        overflow: hidden;
        height: 40px;
        padding-left: 180px;
        margin-top: 10px;
        width: auto; }
        .white-back .contact-modal .ticket-body .new .radio span {
          width: 100px;
          height: 40px;
          line-height: 40px;
          text-align: right;
          font-weight: 600; }
        .white-back .contact-modal .ticket-body .new .radio div {
          margin-right: 20px; }
          .white-back .contact-modal .ticket-body .new .radio div label {
            display: block;
            float: right;
            padding: 0;
            margin: 0;
            height: 40px;
            line-height: 40px; }
          .white-back .contact-modal .ticket-body .new .radio div input {
            position: static;
            display: block;
            float: left;
            margin: 14px 0 0 5px; }
      .white-back .contact-modal .ticket-body .new .input {
        overflow: hidden;
        height: 30px;
        margin-top: 20px;
        padding-left: 210px;
        width: auto; }
        .white-back .contact-modal .ticket-body .new .input label, .white-back .contact-modal .ticket-body .new .input input {
          display: block;
          float: left; }
        .white-back .contact-modal .ticket-body .new .input label {
          width: 100px;
          text-align: right;
          margin: 0;
          height: 30px;
          line-height: 30px;
          font-weight: normal;
          color: #333; }
        .white-back .contact-modal .ticket-body .new .input .warm {
          border: 1px solid red; }
      .white-back .contact-modal .ticket-body .search .dp-tb {
        margin: 10px auto 0; }
        .white-back .contact-modal .ticket-body .search .dp-tb label, .white-back .contact-modal .ticket-body .search .dp-tb input, .white-back .contact-modal .ticket-body .search .dp-tb button {
          display: block;
          float: left; }
        .white-back .contact-modal .ticket-body .search .dp-tb label {
          height: 30px;
          line-height: 30px;
          margin-right: 10px; }
        .white-back .contact-modal .ticket-body .search .dp-tb button {
          margin-left: 20px; }
      .white-back .contact-modal .ticket-body .search table {
        width: 95%;
        margin: 10px auto 0; }
        .white-back .contact-modal .ticket-body .search table td {
          height: 30px;
          text-align: center;
          border-color: #eaeaea; }
        .white-back .contact-modal .ticket-body .search table .wrong {
          height: 50px;
          line-height: 50px; }
          .white-back .contact-modal .ticket-body .search table .wrong td {
            height: 50px; }
      .white-back .contact-modal .ticket-body .search .contact-page {
        width: 95%;
        margin: 0 auto; }
    .white-back .contact-modal .btn-pt {
      display: table;
      margin: 0 auto; }
      .white-back .contact-modal .btn-pt button {
        margin: 30px 20px 0 0; }
      .white-back .contact-modal .btn-pt button:last-child {
        margin-right: 0; }
  .white-back .remove-part, .white-back .remove-type-part, .white-back .bg-part {
    background-color: #fff;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -300px;
    border: 1px solid #074BA0;
    padding-bottom: 20px; }
  .white-back .name-part {
    width: 600px;
    margin-left: -300px; }
    .white-back .name-part .dp-tb {
      margin: 40px auto 20px; }
    .white-back .name-part .warm {
      border: 1px solid red; }
  .white-back .fd-alert-part {
    width: 502px;
    margin-left: -251px; }
    .white-back .fd-alert-part .main-info .input {
      width: auto !important; }
      .white-back .fd-alert-part .main-info .input label {
        width: auto !important;
        padding-left: 10px;
        font-size: 14px;
        color: #333333;
        font-weight: normal; }
      .white-back .fd-alert-part .main-info .input input {
        margin-top: 9px; }
    .white-back .fd-alert-part .warm {
      border: 1px solid red !important; }
    .white-back .fd-alert-part .alert-body .new .input {
      width: auto;
      margin-top: 15px; }
      .white-back .fd-alert-part .alert-body .new .input label {
        width: 100px;
        text-align: right;
        margin-left: 95px;
        font-weight: normal; }
      .white-back .fd-alert-part .alert-body .new .input input {
        height: 30px;
        padding-left: 10px; }
    .white-back .fd-alert-part .alert-body .new p {
      font-size: 12px;
      color: #9b9b9b;
      text-align: center;
      float: left;
      margin: 15px 0 15px;
      width: 100%; }
    .white-back .fd-alert-part .alert-body .exist .input {
      width: auto;
      margin: 40px 0; }
      .white-back .fd-alert-part .alert-body .exist .input label {
        width: 100px;
        text-align: right;
        margin-left: 115px;
        font-weight: normal; }
      .white-back .fd-alert-part .alert-body .exist .input select {
        height: 30px;
        padding-left: 10px;
        width: 160px; }
    .white-back .fd-alert-part .dif-weight .y-info {
      font-size: 12px;
      color: #f6a623;
      text-align: center;
      margin: 10px 0; }
    .white-back .fd-alert-part .dif-weight .b-info {
      font-size: 14px;
      color: #093f8c;
      text-align: center;
      margin: 10px 0; }
      .white-back .fd-alert-part .dif-weight .b-info span {
        color: #093f8c; }
    .white-back .fd-alert-part .dif-weight .change-info {
      display: table;
      margin: 0 auto 20px;
      position: relative; }
      .white-back .fd-alert-part .dif-weight .change-info span, .white-back .fd-alert-part .dif-weight .change-info input {
        display: block;
        float: left;
        height: 30px;
        line-height: 30px;
        font-size: 14px; }
      .white-back .fd-alert-part .dif-weight .change-info input {
        width: 120px;
        padding-right: 40px; }
      .white-back .fd-alert-part .dif-weight .change-info .unit {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        text-align: center; }
      .white-back .fd-alert-part .dif-weight .change-info .ori-wei {
        width: 40px; }
      .white-back .fd-alert-part .dif-weight .change-info .glyphicon {
        margin: 0 10px;
        height: 30px;
        line-height: 30px;
        top: 0;
        color: #cccccc; }
    .white-back .fd-alert-part .dif-weight .p-input p {
      float: left;
      margin: 0;
      height: 30px;
      line-height: 30px; }
    .white-back .fd-alert-part .dif-weight .p-input .head {
      width: 100px;
      text-align: right;
      margin-left: 95px; }
    .white-back .fd-alert-part .dif-weight .input {
      width: auto;
      margin: 15px 0; }
      .white-back .fd-alert-part .dif-weight .input label {
        width: 100px;
        text-align: right;
        margin-left: 95px;
        font-weight: normal; }
      .white-back .fd-alert-part .dif-weight .input input {
        height: 30px;
        padding-left: 10px; }
    .white-back .fd-alert-part .line {
      border-top: 1px solid #ececec;
      margin: 0 10px; }
    .white-back .fd-alert-part .btn-pt button {
      margin-bottom: 20px; }

.loading-part {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  z-index: 100000000;
  text-align: center; }
  .loading-part .loading {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    text-align: center;
    padding: 0 15px;
    top: 50%;
    margin-top: -25px; }
    .loading-part .loading img, .loading-part .loading p {
      float: left; }
    .loading-part .loading img {
      height: 32px;
      width: 32px;
      margin: 9px 10px 0 0; }
    .loading-part .loading p {
      margin: 0;
      line-height: 50px;
      color: #fff;
      font-size: 18px; }

/*# sourceMappingURL=detail.css.map */
