<div class="order-part">
    <p class="header">订舱委托书</p>

    <p class="info">
        <span class="dp-b fl-l">订单号：<span class="order-num">00000</span></span>
        <span class="dp-b fl-r">2016-11-28</span>
    </p>
    <table border="1">
        <tbody>
        <tr>
            <td>发货人</td>
            <td colspan="5">1</td>
        </tr>
        <tr>
            <td>收货人</td>
            <td colspan="5">1</td>
        </tr>
        <tr>
            <td>订舱会员</td>
            <td colspan="5">1</td>
        </tr>
        <tr>
            <td>起始港</td>
            <td>1</td>
            <td>目的港</td>
            <td>1</td>
            <td>航空公司</td>
            <td>1</td>
        </tr>
        <tr>
            <td>起飞时间</td>
            <td>1</td>
            <td>运价确认</td>
            <td>1</td>
            <td>运费支付方式</td>
            <td>1</td>
        </tr>
        <tr>
            <td>预计到达</td>
            <td>1</td>
            <td>中转方式</td>
            <td>1</td>
            <td>最晚进仓</td>
            <td>1</td>
        </tr>
        <tr>
            <td>件数</td>
            <td>1</td>
            <td>毛重</td>
            <td>1</td>
            <td>体积</td>
            <td>1</td>
        </tr>
        <tr>
            <td>唛头</td>
            <td colspan="2">1</td>
            <td>货名</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>进仓编号</td>
            <td colspan="2">1</td>
            <td>进仓地图</td>
            <td colspan="2">1</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="button">
    <button class="md-btn blue-btn" id="download">下载</button>
</div>