<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="search-sel">报关行：</label>
            <select id="search-sel" class="sm-input">
                <option value="10001">航联（PVG）</option>
                <option value="10002">捷利（SHA）</option>
            </select>
        </div>
        <div class="input">
            <label for="search-time">统计范围：</label>
            <input type="text" id="search-time" class="sm-input">
            <span> - </span>
            <input type="text" id="search-end" class="sm-input">
        </div>
        <button class="sm-btn blue-btn" id="search">查询</button>
    </div>
</div>
<div class="operate fill">
    <p class="list-cout">共为您找到 0 条结果</p>
    <!--<button class="blue-btn sm-btn flr" id="batch-bills">批量开账</button>-->
    <button class="blue-btn sm-btn flr" id="ept">导出</button>
</div>
<div class="outer-con">
    <table class="outer-tb">
        <thead>
        <tr>
            <td>订单编号</td>
            <td>报关行</td>
            <td>项目</td>
            <td>金额</td>
            <td>时间</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="outer-pages"></div>
</div>

