<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="code">航空公司代码：</label>
            <input type="text" id="code" class="sm-input"/>
        </div>
        <div class="input">
            <label for="start">起始港：</label>
            <input type="text" id="start" class="sm-input"/>
        </div>
        <div class="input">
            <label for="end">目的港：</label>
            <input type="text" id="end" class="sm-input"/>
        </div>
        <button class="sm-btn blue-btn" id="ot-search">查询</button>
    </div>
</div>
<div class="operate fill">
    <p class="list-cout">共为您找到 0 条结果</p>
    <a class="blue-btn sm-btn fl-r" href="/airline/mixDetail" target="_blank">添加</a>
</div>
<div class="outer-con">
    <table class="outer-tb">
        <thead>
        <tr>
            <td>代码</td>
            <td>名称</td>
            <td>起始港</td>
            <td>目的港</td>
            <td>直达/中转</td>
            <td>航班日期</td>
            <td>承接危险品</td>
            <td>发布状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="outer-pages"></div>
</div>