<div class="right-part about">
    <h3>空运邦简述</h3>
    <p class="detail">
        空运邦物流平台将基于云计算技术的运价信息管理和服务平台与微信服务结合，实现随时、随地做生意、管生意，打破了传统物流寻找货代的方式。
        "空运邦"汇聚了全球500多家优质物流服务商，可以为全球各地的客户提供舱位保障、价格真实、服务保质的运价查询、订舱下单、货运跟踪等服务。
    </p>
    <p class="b-border provide">我们为您全程提供</p>
    <img src="/images/home/about_pic1.png" alt="关于我们">
    <p class="b-border different">空运邦与传统货代有什么不同？</p>
    <p class="compare">
        <span class="dp-ib">空运邦</span>
        <span class="dp-ib">传统货代</span>
    </p>
    <div class="com-detail">
        <ul class="fl-l">
            <li class="first ta-r pr-20">平台方，通过整合资源提供标准化服务</li>
            <li class="second ta-r pr-20">在线委托/智能物流管理系统+人工客服</li>
            <li class="third ta-r pr-20">费用透明化，不赚钱差价，收取标准化的服务费</li>
        </ul>
        <div class="com-logo fl-l">

        </div>
        <ul class="fl-l">
            <li class="first pl-20">物流服务直接提供方</li>
            <li class="second pl-20">人工对接</li>
            <li class="third pl-20">费用不透明，赚钱差价</li>
        </ul>
    </div>
</div>