<div class="welcome">欢迎回来<%= user.agentMember.name ? '，' + user.agentMember.name : '' %>！</div>
<div class="main-body">
    <div class="cswbg">
        <p class="title"><span class="icon">！</span>超时未报关：<span class="num">0</span></p>
        <div class="tb">
            <table>
                <thead>
                <tr>
                    <td style="width: 25%">订单编号/主单号</td>
                    <td style="width: 20%">客户名称</td>
                    <td style="width: 20%">航线信息</td>
                    <td style="width: 20%">航班时间</td>
                    <td style="width: 15%">报关状态</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="cswjc mg">
        <p class="title"><span class="icon">！</span>超时未进仓：<span class="num">0</span></p>
        <div class="tb">
            <table>
                <thead>
                <tr>
                    <td style="width: 25%">订单编号/主单号</td>
                    <td style="width: 20%">客户名称</td>
                    <td style="width: 20%">航线信息</td>
                    <td style="width: 20%">航班时间</td>
                    <td style="width: 15%">进仓状态</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="jrqf">
        <p class="title fill"><span class="icon fa fa-plane"></span>今日起飞：<span class="num">0</span></p>
        <div class="tb">
            <table>
                <thead>
                <tr>
                    <td style="width: 12%;">订单编号/主单号</td>
                    <td style="width: 15%;">客户名称</td>
                    <td style="width: 7%;">航空公司</td>
                    <td style="width: 5%;">起始港</td>
                    <td style="width: 5%;">目的港</td>
                    <td style="width: 25%;">货物信息</td>
                    <td style="width: 7%;">进仓状态</td>
                    <td style="width: 10%;">头程航班</td>
                    <td style="width: 7%;">报关状态</td>
                    <td style="width: 7%;">运输状态</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="wqrfy">
        <p class="title"><span class="icon fa fa-clock-o"></span>待确认费用：<span class="num">0</span></p>
        <div class="tb">
            <table>
                <thead>
                <tr>
                    <td style="width: 25%;">订单编号</td>
                    <td style="width: 20%;">客户名称</td>
                    <td style="width: 20%;">起飞时间</td>
                    <td style="width: 20%;">金额</td>
                    <td style="width: 15%;">确认状态</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="wzfzd mg">
        <p class="title"><span class="icon fa fa-clock-o"></span>未支付账单：<span class="num">0</span></p>
        <div class="tb">
            <table>
                <thead>
                <tr>
                    <td style="width: 25%;">账单编号</td>
                    <td style="width: 20%;">客户名称</td>
                    <td style="width: 20%;">金额</td>
                    <td style="width: 20%;">付款截止</td>
                    <td style="width: 15%;">核销状态</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>