<div class="info-box">
    <div class="container">
        <div class="top">
            <i class="line"></i>
            <p>在这里，</p>
            <p class="simple">
                <span>空运货物</span>就是这么简单
            </p>
            <p class="info-number">
                <span>50家航空公司</span>
                <span>20905条运价</span>
                <span>201家贷代</span>
            </p>
        </div>
        <div class="bottom">
            <div class="fl-l">
                <div class="img-first"></div>
                <p class="title">搜索最优惠、最优质货代</p>
                <p class="text first-p"><span class="nike"></span>多港口覆盖</p>
                <p class="text first-p"><span class="nike"></span>节约物流成本</p>
            </div>
            <div class="fl-l">
                <div class="img-second"></div>
                <p class="title">空运订舱+一站式物流服务</p>
                <p class="text second-p"><span class="nike"></span>便捷订舱</p>
                <p class="text second-p"><span class="nike"></span>全程管家式服务</p>
            </div>
            <div class="fl-l">
                <div class="img-third"></div>
                <p class="title">智能在线物流管理</p>
                <p class="text third-p"><span class="nike"></span>可视化物流在线跟踪</p>
                <p class="text third-p"><span class="nike"></span>专属客服</p>
            </div>
        </div>
        <a href="/info/about" class="more-info">了解空运邦更多详情 ></a>
    </div>
</div>