<div class="news-part">
    <div class="container">
        <div class="tb-center">
            <div class="kyb-news fl-l big-part">
                <p class="header">空运邦动态 <a class="sm-btn blue-btn" href="/home/news/dynamic">更多</a></p>

                <p class="ren-info">空运邦业内精彩资讯</p>

                <div class="news-body dynamic-body">
                    <!--<p class="sg-new"><a>空运邦：“立身之本在于国际空运物流与互联网结合”</a><span>2016-10-15</span></p>-->

                </div>
            </div>
            <div class="common-problems fl-l big-part">
                <p class="header">常见问题 <a class="sm-btn blue-btn" href="/home/news/login">更多</a></p>

                <p class="ren-info">专家坐镇为您解答物流难题</p>

                <div class="news-body common-body">
                    <p class="sg-new"><a>大家好，为啥我有货不能运</a><span class="qa-img">18</span></p>
                </div>
            </div>
        </div>
    </div>
</div>