<div class="search-part">
    <div class="container">
        <div class="left">
            <p>空运邦&nbsp;&nbsp;帮空运</p>

            <div class="search-box">
                <!--<a href="javascript:void(0);" data-open="0" class="location-open">-->
                    <div class="location">
                        <label class="dp-n" for="start_location"></label>
                        <input id="start_location" type="text" value="" placeholder="起始港">
                        <ul class="ajax-part dp-n">
                        </ul>
                    </div>
                <div class="location">
                    <label class="dp-n" for="end_location"></label>
                    <input id="end_location" type="text" value="" placeholder="目的港">
                    <ul class="ajax-part dp-n">
                    </ul>
                </div>
                <button id="search-btn">查询价格</button>
            </div>
        </div>
        <img class="right" height="430" width="320" src="/images/home/man.png"/>
    </div>
</div>