<div class="price">
    <div class="price-head">
        <p class="list-cout"><strong>费用模板</strong>现有 0 个费用模板</p>
        <span id="refresh">刷新</span>
    </div>
    <div class="price-body fill default">
        <div class="sg-modal add-modal">
            <p class="add-p">
                <a href="javascript:void(0);" id="add">+添加新模板</a>
            </p>
        </div>
    </div>
    <div class="price-body fill not-default">

    </div>
</div>

<div class="white-back dp-n">
    <div class="delete-part alert-part dp-n">
        <p class="header">删除该信息 <span class="close-btn">X</span></p>

        <div class="btn-pt">
            <button id="delete-ensure" class="fl-l md-btn blue-btn" data-id="0">确定</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
    <div class="default-part alert-part dp-n">
        <p class="header">设为默认模板 <span class="close-btn">X</span></p>

        <div class="btn-pt">
            <button id="default-ensure" class="fl-l md-btn blue-btn" data-id="0">确定</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
    <div class="add-modal alert-part dp-n">
        <p class="header">新增模板<span class="close-btn">X</span></p>

        <div class="main-info">
            <div class="dp-tb">
                <div class="input">
                    <label for="name">模板名称：</label>
                    <input type="text" id="a-name" class="sm-input"/>
                </div>
            </div>
        </div>

        <div class="add-body">
            <div class="add-ope fill">
                <button class="blue-btn sm-btn fl-r inner-remove">删除</button>
                <button class="blue-btn sm-btn fl-r inner-add">新增</button>
            </div>
            <table class="inner-tb">
                <thead>
                <tr>
                    <td></td>
                    <td>费用名称</td>
                    <td>费用标准</td>
                    <td>费用类型</td>
                    <td>费用单位</td>
                    <td>备注</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="btn-pt">
            <button id="add-ensure" class="fl-l md-btn blue-btn">确定</button>
            <button class="close-btn fl-l md-btn white-btn">关闭</button>
        </div>
    </div>
    <div class="editor-modal alert-part dp-n">
        <p class="header">新增模板<span class="close-btn">X</span></p>

        <div class="main-info">
            <div class="dp-tb">
                <div class="input">
                    <label for="name">模板名称：</label>
                    <input type="text" id="e-name" class="sm-input"/>
                </div>
            </div>
        </div>

        <div class="add-body">
            <div class="add-ope fill">
                <button class="blue-btn sm-btn fl-r inner-remove">删除</button>
                <button class="blue-btn sm-btn fl-r inner-add">新增</button>
            </div>

            <table class="inner-tb">
                <thead>
                <tr>
                    <td></td>
                    <td>费用名称</td>
                    <td>费用标准</td>
                    <td>费用类型</td>
                    <td>费用单位</td>
                    <td>备注</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="btn-pt">
            <button id="editor-ensure" class="fl-l md-btn blue-btn" data-id="0">确定</button>
            <button class="close-btn fl-l md-btn white-btn">关闭</button>
        </div>
    </div>
</div>