<div class="right-part problems">
    <h3>常见问题</h3>
    <div class="qa">
        <p class="q-title green">供应商问题</p>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">一、如何成为“空运邦”的供应商？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">1.登录空运邦平台，进入“我的物流中心”，进行企业认证。<br/>
                    2.企业需有1年以上的从业经验且提交相关材料至官方客服邮箱（chentingmei@91kyb.com）进行审核： 企业营业执照副本 企业税务登记证 组织机构代码证 中国民用航空代理资格认可证书（一类货运，空运需要） 开户银行许可证明 优势航线及报价表 收到您提供的资料后，3天以内我们会尽快跟进并给到您答复。审核通过后，您即可在空运邦平台发布您的运价信息和订舱信息，并参与到空运邦平台提供的推广活动。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">二、我是物流商，如何发布运费？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">登入我的物流中心——我发布的运费，可选择【批量发发布运费】或【EXcel批量导入运费】提交至空运邦平台，进行审核，审核通过的供应商报价，会自动显示在平台前端。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">三、运费的更新修改</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">1.登入我的物流中心——我发布的运费，选中您刚才发布有问题的报价单，进行自动删除，再次重新提交最新报价单。<br/>
                    2.如您对后台运费更新修改有任何不懂操作疑问，可点击右侧在线客服（或致电400—XXX—XXX客服部），将问题反馈至平台，由在线客服直接帮你介入更正操作。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">四、我安排的航班有问题</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">如您之前未及时更新报价单，所产生舱位紧缺现象，请及时联系到我们平台客服，由平台客服直接介入帮您进行处理操作。</p>
            </div>
        </div>
    </div>
    <div class="qa">
        <p class="q-title red">密码和注册</p>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">一、注册时收不到验证码？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">1.请再次获取验证码。<br/>
                    2.请确认手机是否开启安全卫士工具，可在短信拦截页面进行查看。<br/>
                    3.请咨询“空运邦”客服，进行协助处理。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">二、点击“登录”按钮无反应，怎么办？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">1.请尝试清空浏览器缓存后重试。<br/>
                    2.尝试更换浏览器进行登录。<br/>
                    3.如果以上两种方式您尝试都无效，请联系“空运邦”客服处理。</p>
            </div>
        </div>
    </div>
    <div class="qa">
        <p class="q-title green">我是货主</p>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">一、为什么账号信息里的部分内容不能修改？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">1.手机号码、邮箱地址是您账号的登录名，改动可能会影响到您账号信息的安全性，如您的手机和邮箱可以正常使用，不建议您进行修改。<br/>
                    2.如果您账号信息中的“公司名称”不能修改，说明您的账号已通过企业认证，如需要修改请联系“空运邦”客服进行处理。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">二、如何管理员工账号，查看公司所有订单？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">您可以在“我的物流中心”添加您的同事账号并设置相应账号权限后，员工账号就会有不同的查询权限。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">三、如何查询空运费用？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">1.在“我要发货”页面，按照您所需要的航线信息，进行填写。系统会自动为您筛选出【最快捷】【最便宜】的航线信息及报价明细。<br/>
                    2.在首页固定发货板块内，输入“起飞港”及“目的港”查询价格，选择直达或中转，及相关航线，系统自动导出所有相关航线信息及报价单明细。<br/>
                    3.如以上2种方式，均不能满足您的需求，可致电空运邦客服：400—XXX—XXX进行人工报价。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">四、订单加急处理</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">当您填写好订舱信息确认且提交至平台，客服会在2小时内致电给您【进行准确信息核实】，如您担心订单有操作延迟等情况， 可在订舱后直接致电：400-XXX-XXX空运邦客服部，进行信息快速处理通道。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">五、如果我的订单需要修改怎么办？</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">1.点击网站右侧客服咨询QQ，将问题订单反馈至平台，由在线客服直接帮你操作。<br/>
                    2.致电400—XXX—XXX进行订单修正，并由客服人员在后台帮您修改。</p>
            </div>
        </div>
        <div class="qa-part">
            <div class="q-part">
                <span class="dp-b fl-l">Q</span>
                <p class="fl-l">六、我的对账单有问题</p>
            </div>
            <div class="a-part">
                <span class="dp-b fl-l">A</span>
                <p class="fl-l">点击网站右侧客服咨询QQ（或致电400—XXX—XXX客服部），将有问题的对账单截图反馈至平台，由在线客服直接帮你介入更正操作。</p>
            </div>
        </div>
    </div>
</div>