<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="jcbh">编号：</label>
            <input type="text" id="jcbh" class="sm-input" placeholder="进仓编号/订单编号"/>
        </div>
        <div class="input">
            <label for="jcrq">进仓日期：</label>
            <input type="text" id="jcrqStart" class="sm-input"/>~<input type="text" id="jcrqEnd" class="sm-input"/>
        </div>
        <button class="sm-btn blue-btn" id="search">查询</button>
    </div>
</div>
<div class="operate fill">
    <p class="list-cout">共为您找到 0 条结果</p>
</div>
<div class="outer-con">
    <table class="outer-tb">
        <thead>
        <tr>
            <td>进仓编号</td>
            <td>进仓时间</td>
            <td>件数(PCS)</td>
            <td>长(CM)</td>
            <td>宽(CM)</td>
            <td>高(CM)</td>
            <td>体积(CBM)</td>
            <td>重量(KGS)</td>
            <td>损毁</td>
            <td>受潮</td>
            <td>变形</td>
            <td>其他</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="page-box"></div>