<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="name">目的港：</label>
            <input type="text" id="name" class="sm-input" placeholder="机场代码"/>
        </div>
        <!--<div class="input">-->
        <!--<label for="type">仓库类型：</label>-->
        <!--<select id="type" class="sm-input">-->
        <!--<option value="1">普货</option>-->
        <!--<option value="2">关封</option>-->
        <!--</select>-->
        <!--</div>-->
        <button class="sm-btn blue-btn" id="search">查询</button>
    </div>
</div>
<div class="operate fill">
    <p class="list-cout">共为您找到 0 条结果</p>
    <button class="sm-btn blue-btn" id="add">新增</button>
</div>
<div class="outer-con">
    <table class="outer-tb">
        <thead>
        <tr>
            <td>机场代码</td>
            <td>N</td>
            <td>M</td>
            <td>45KG</td>
            <td>100KG</td>
            <td>300KG</td>
            <td>500KG</td>
            <td>1000KG</td>
            <td>描述</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="page-box outer-page"></div>
<div class="white-back dp-n">
    <div class="ticket-modal alert-part fill dp-n">
        <p class="header"></p>

        <div class="ticket-body border fill">
            <div class="input">
                <label for="add-jcdm">机场代码：</label>
                <input type="text" id="add-jcdm" class="sm-input require"/>
            </div>
            <div class="input">
                <label for="add-n">N：</label>
                <input type="text" id="add-n" class="sm-input require"/>
            </div>
            <div class="input">
                <label for="add-m">M：</label>
                <input type="text" id="add-m" class="sm-input require"/>
            </div>
            <div class="input">
                <label for="add-45">45KG：</label>
                <input type="text" id="add-45" class="sm-input require"/>
            </div>
            <div class="input">
                <label for="add-100">100KG：</label>
                <input type="text" id="add-100" class="sm-input"/>
            </div>
            <div class="input">
                <label for="add-300">300KG：</label>
                <input type="text" id="add-300" class="sm-input"/>
            </div>
            <div class="input">
                <label for="add-500">500KG：</label>
                <input type="text" id="add-500" class="sm-input"/>
            </div>
            <div class="input">
                <label for="add-1000">1000KG：</label>
                <input type="text" id="add-1000" class="sm-input"/>
            </div>
            <div class="input">
                <label for="add-ms">描述：</label>
                <input type="text" id="add-ms" class="sm-input"/>
            </div>
        </div>
        <div class="btn-pt">
            <button id="submit" class="fl-l md-btn blue-btn" data-id="0">保存</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
</div>
