<div class="change-back dp-n">
    <div class="change-pwd fill dp-n">
        <p class="header">修改密码 <span class="close-pwd">X</span></p>

        <div class="pwd-body border fill">
            <div class="input">
                <label for="password">现有密码：</label>
                <input type="password" id="password" class="sm-input"/>
            </div>
            <div class="input">
                <label for="new-password">新密码：</label>
                <input type="password" id="new-password" class="sm-input"/>
            </div>
            <div class="input">
                <label for="ensure-password">确认密码：</label>
                <input type="password" id="ensure-password" class="sm-input"/>
            </div>
        </div>
        <div class="btn-pt">
            <button id="ensure-pwd" class="fl-l md-btn blue-btn">保存</button>
            <button class="close-pwd fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
</div>


</body>
</html>