<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="num">公司名称：</label>
            <input type="text" id="num" class="sm-input"/>
        </div>
        <div class="input">
            <label for="type">公司类型：</label>
            <select id="type" class="sm-input">
                <option value="99">全部</option>
                <option value="11">个人</option>
                <option value="12">货运代理</option>
                <option value="13">贸易商</option>
                <option value="14">电子商务</option>
                <option value="15">制造商</option>
                <option value="16">其他</option>
            </select>
        </div>
        <button class="sm-btn blue-btn" id="search-btn">查询</button>
    </div>
</div>
<div class="operate fill">
    <p class="list-cout">共为您找到 0 条结果</p>
    <button class="sm-btn blue-btn fl-r" id="multi-pass">批量通过</button>
    <button class="sm-btn blue-btn fl-r" id="multi-refuse">批量拒绝</button>
    <p class="info">会员申请月结会员之前，需提升等级为A级以上，C级会员需先申请到B级会员，无额度，3个工作日内未收到合同（审核人员未执行审核通过动作），系统自动结束本次申请。</p>
</div>

<div class="outer-con">
    <table class="outer-tb">
        <thead>
        <tr>
            <td><input type="checkbox" class="sel-all"/></td>
            <td>公司编号</td>
            <td>公司名称</td>
            <td>公司类型</td>
            <td>联系人</td>
            <td>联系方式</td>
            <td>会员等级</td>
            <td>信用额度</td>
            <td>申请等级</td>
            <td>申请时间</td>
            <td>会员类型</td>
            <td>审核</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="page-box"></div>
<div class="white-back dp-n">
    <div class="close-part alert-part dp-n">
        <p class="header">拒绝申请 <span class="close-btn">X</span></p>

        <div class="btn-pt">
            <button id="close-ensure" class="fl-l md-btn blue-btn">确定</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
    <div class="open-part alert-part dp-n">
        <p class="header">通过审核 <span class="close-btn">X</span></p>

        <div class="btn-pt">
            <button id="open-ensure" class="fl-l md-btn blue-btn">确定</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
    <div class="multi-close-part alert-part dp-n">
        <p class="header">批量拒绝申请 <span class="close-btn">X</span></p>

        <div class="btn-pt">
            <button id="multi-close-ensure" class="fl-l md-btn blue-btn">确定</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
    <div class="multi-open-part alert-part dp-n">
        <p class="header">批量通过审核 <span class="close-btn">X</span></p>

        <div class="btn-pt">
            <button id="multi-open-ensure" class="fl-l md-btn blue-btn">确定</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
</div>