<div class="search-part">
    <div class="input-part">
        <div class="input">
            <label for="id">订单号：</label>
            <input type="text" id="id" value="" class="sm-input"/>
        </div>
        <div class="input">
            <label for="state">账单状态：</label>
            <select id="state" class="sm-select">
                <option value="99">全部</option>
                <option value="0">未确认</option>
                <option value="1">已确认</option>
                <option value="2">申诉</option>
                <option value="3">已开帐</option>
            </select>
        </div>
    </div>
    <button class="search-btn sm-btn blue-btn">搜索</button>
</div>
<table>
    <thead>
    <tr>
        <td>订单号</td>
        <td>起始港</td>
        <td>目的港</td>
        <td>航空公司</td>
        <td>起飞日期</td>
        <td>费用小计</td>
        <td>订单状态</td>
        <td>费用状态</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr>

    </tr>
    </tbody>
</table>
<div class="page-box">

</div>