<div class="table">
    <div class="table-head">
        <div class="th-tr">
            <div class="al-com fl-l th-td">起始港/目的港</div>
            <div class="al-status fl-l th-td">中转/航程</div>
            <div class="al-info fl-l th-td">班期</div>
            <div class="tdtime fl-l th-td ta-r">过期时间</div>
            <div class="minWeight fl-l th-td ta-r">最小重量(KG)</div>
            <div class="weight fl-l th-td ta-r">45KG</div>
            <div class="weight fl-l th-td ta-r">100KG</div>
            <div class="weight fl-l th-td ta-r">300KG</div>
            <div class="weight fl-l th-td ta-r">500KG</div>
            <div class="weight fl-l th-td ta-r">1000KG</div>
            <div class="operate fl-l th-td"><span class="txt-info dp-b fl-l"></span>
            </div>
        </div>
    </div>
    <div class="table-body"></div>
</div>
<div class="page-box">

</div>