<div class="right-part">
    <img class="tt-img" src="/images/banner-cjwt.jpg" alt="常见问题">
    <div class="list-body">
        <p class="title">会员管理中心</p>
        <div class="detail-body">

        </div>
    </div>
</div>