<div class="search-part">
    <div class="input-part">
        <div class="input" style="margin-left: 330px;">
            <label for="id">航空公司查询：</label>
            <input type="text" id="id" value="" class="sm-input" placeholder="航班代码/名称"/>
        </div>
    </div>
    <button class="search-btn sm-btn blue-btn" id="search-company">搜索</button>
</div>
<table>
    <thead>
    <tr>
        <td>公司名称</td>
        <td>英文名称</td>
        <td>国家</td>
        <td>IATA代码</td>
        <td>ICOA代码</td>
        <td>运单代码</td>
        <td>官网</td>
    </tr>
    </thead>
    <tbody>
    <tr class="wrong-msg">
        <td colspan="7">
            请输入航班代码或者名称查询
        </td>
    </tr>
    </tbody>
</table>
<div class="page-box">

</div>