<div class="sel-line top-part">
    <span class="title">选择航空公司：</span>

    <div class="body"></div>
</div>
<div class="sel-start top-part">
    <span class="title">选择航线产品：</span>

    <div class="body"></div>
</div>