<div class="right-part terms">
    <h3>服务条款</h3>
    <p class="terms-title">协议构成及须知</p>
    <p>1. 本协议是“空运邦”的注册用户（包括使用“空运邦”平台的个人和所代表的企业）与“空运邦”运营企业（上海昕航网络科技有限公司）之间的法律契约，注册“空运邦”即代表接受本协议的约束，并自注册成功之时即成为本协议的一方（即“空运邦”用户）并自发出协议之时即受协议条款的约束。</p>
    <p>2. 本协议受中华人民共和国法律管辖，签约地为上海。下文中的“空运邦”指其运营企业上海昕航网络科技有限公司，是本协议的契约方之一。下文中的“用户”指“空运邦”注册用户，是本协议的契约方之另一方。</p>
    <p>3. 用户欲访问和使用“空运邦”，必须事先认真阅读本协议中的各条款，包括免除或者限制“空运邦”责任的免责条款及对用户的权利限制。请审阅并选择接受或不接受本协议。如不同意本协议条款及/或随时对其的修改，请不使用或主动取消“空运邦”提供的服务。对“空运邦”的使用行为将被视为对本协议条款的完全接受，包括接受“空运邦”对条款所做的任何修改。</p>
    <p class="terms-title">使用规则</p>
    <p>1. “空运邦”服务仅限于为用户提供正常和合法业务工具，用户如果使用“空运邦”产品从事以下行为，即导致根本性违约，“空运邦”有权随时停止服务、解除本协议，并追讨因此带来的损失：</p>
    <p>1）有明确证据表明用户使用“空运邦”用于违反法律的业务。用户发送了任何妨碍社会治安或非法、虚假、骚扰性、侮辱性、恐吓性、伤害性、破坏性、挑衅性、淫秽等内容的信息。</p>
    <p>2）对“空运邦”产品进行了任何形式的对其他第三方的再授权使用，销售或转让。</p>
    <p>3）提供的公司信息或个人资料不真实，或有可能对“空运邦”其他用户构成误导甚至欺诈。</p>
    <p>4）滥用“空运邦”产品的通信功能发送垃圾邮件和短信。</p>
    <p>5）对 “空运邦” 的连续服务和商誉构成损害的其他行为，包括对“空运邦”服务器的攻击。</p>
    <p>6）其他“空运邦”认为是不符合整体服务需求的特殊情形。</p>
    <p>2. “空运邦”使用用户所拥有的互联网域名所对应的电子邮件地址作为用户权证的唯一识别信息。当用户不再拥有在“空运邦”所登记的域名时，“空运邦”有权随时删除该用户的所有数据。</p>

</div>