<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="search-name">公司名称：</label>
            <input type="text" id="search-name" class="sm-input">
        </div>
        <button class="sm-btn blue-btn" id="search">查询</button>
    </div>
</div>
<div class="operate fill">
    <p class="list-cout">共为您找到 0 条结果</p>
    <!--<button class="blue-btn sm-btn flr" id="batch-bills">批量开账</button>-->
    <!--<button class="blue-btn sm-btn flr" id="new-bill">新建账单</button>-->
</div>
<div class="outer-con">
    <table class="outer-tb">
        <thead>
        <tr>
            <td>公司编号</td>
            <td>公司名称</td>
            <td>联系人</td>
            <td>联系方式</td>
            <td>会员等级</td>
            <td>信用额度</td>
            <td>可用额度</td>
            <td>累计成交金额</td>
            <td>累计成交票数</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="outer-pages"></div>
</div>
<div class="white-back dp-n">
    <div class="cash-part alert-part dp-n">
        <p class="header">返点设置 <span class="close-btn">X</span></p>
        <div class="cash-body">
            <div class="main-info">上海藤梯</div>
            <div class="border fill">
                <div class="dp-tb">
                    <div class="input fl-l">
                        <label for="fx">返现：</label>
                        <input type="text" id="fx" class="sm-input">
                        <span class="unit">CNY</span>
                    </div>
                    <button class="dp-b fl-l sm-btn blue-btn" id="ensure-fx">确定返现</button>
                </div>
                <p class="fxinfo">温馨提示：返现之后，需要超级管理员去审核，审核通过后，返现额度添加到客户的可用额度中，审核不通过，则返现失败</p>
            </div>
            <div class="border fill">
                <p class="title">历史记录：</p>
                <div class="half">
                    <p class="count">
                        累计下单<br>
                        <span class="ljxd">325</span> 笔
                    </p>
                    <p class="count">
                        累计下单金额<br>
                        <span class="ljje">3250.00</span> CNY
                    </p>
                </div>
            </div>
            <div class="border fill" style="padding-bottom: 20px;">
                <div class="half">
                    <p class="count">
                        本月累计下单<br>
                        <span class="byljxd">325</span> 笔
                    </p>
                    <p class="count">
                        本月累计下单金额<br>
                        <span class="byljxd">3250.00</span> CNY
                    </p>
                </div>
                <div class="half">
                    <p class="count">
                        上月累计下单<br>
                        <span class="syljxd">325</span> 笔
                    </p>
                    <p class="count">
                        上月累计下单金额<br>
                        <span class="syljxd">3250.00</span> CNY
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="history-part alert-part dp-n">
        <p class="header">返现记录 <span class="close-btn">X</span></p>
        <div class="history-body">
            <div class="main-info">上海藤梯</div>
            <div class="scroll-part">
                <p>
                    <span class="circle"></span>
                    <span class="time">2017-02-02</span>
                    <span class="money">200</span>
                    <span class="ste">未审核</span>
                </p>
                <p>
                    <span class="circle"></span>
                    <span class="time">2017-02-02</span>
                    <span class="money">200</span>
                    <span class="ste">未审核</span>
                </p>
            </div>
        </div>
        <div class="btn-pt">
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
</div>