<div class="reset-box">
    <div class="input">
        <label for="original">请输入原密码：</label>
        <input type="password" id="original" class="sm-input"/>
        <span class="dp-b hide"></span>
    </div>
    <div class="input">
        <label for="new">请输入新密码：</label>
        <input type="password" id="new" class="sm-input"/>
        <span class="dp-b hide"></span>
    </div>
    <div class="input">
        <label for="repeat">确认密码：</label>
        <input type="password" id="repeat" class="sm-input"/>
        <span class="dp-b hide"></span>
    </div>
</div>
<button class="submit md-btn blue-btn">确定修改</button>