<div class="search-part">
    <div class="input-part">
        <div class="input">
            <label for="id">账单编号：</label>
            <input type="text" id="id" value="" class="sm-input"/>
        </div>
        <div class="input">
            <label for="lsh">开票流水号：</label>
            <input type="text" id="lsh" value="" class="sm-input"/>
        </div>
        <div class="input">
            <label for="state">付款状态：</label>
            <select id="state" class="sm-select">
                <option value="99">全部</option>
                <option value="0">未开票</option>
                <option value="1">已开票</option>
                <option value="2">部分开票</option>
            </select>
        </div>
    </div>
    <button class="search-btn sm-btn blue-btn" id="search-btn">搜索</button>
</div>

<table>
    <thead>
    <tr>
        <td>开票流水号</td>
        <td>开票总金额（CNY）</td>
        <td>发票物流单号</td>
        <td>开票状态</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr>

    </tr>
    </tbody>
</table>
<div class="page-box">

</div>
<div class="white-back dp-n">
    <div class="appeal-part alert-part dp-n">
        <p class="header">开票明细 <span class="close-btn">X</span></p>
        <p class="top">开票流水号：<span class="lsh">xaxaxaxaaxa</span><span class="state">已开票</span></p>
        <div class="fpnr">
            <p class="title">发票内容</p>
            <p class="dtl">
                1. 发票抬头：<span class="fptt">上海新航</span>
                发票种类：<span class="fpzl">普票</span>
                开票金额：<span class="kpje">200231</span><span class="unit">CNY</span>
                发票号：<span class="fph">dasdsadsa</span>

            </p>
        </div>
        <div class="ydh">
            <p class="title">运单号</p>
            <p class="dtl">
                11111111111
            </p>
        </div>
    </div>
</div>