<div class="search-part">
    <div class="input">
        <label for="num">委托单号：</label>
        <input type="text" id="num" class="sm-input"/>
    </div>
    <div class="input">
        <label for="start">起始港：</label>
        <input type="text" id="start" class="sm-input"/>
    </div>
    <div class="input">
        <label for="end">目的港：</label>
        <input type="text" id="end" class="sm-input"/>
    </div>
    <div class="input">
        <label for="f-date">航班日期：</label>
        <input type="text" id="f-date" class="sm-input"/>
    </div>
    <div class="input">
        <label for="h-date">期望到港日期：</label>
        <input type="text" id="h-date" class="sm-input"/>
    </div>
</div>
<div class="operate-part">

</div>
<div class="type-sel">
    <span data-type="all">全部</span>
    <span data-type="doing">委托待处理</span>
    <span data-type="cancel">已取消</span>
    <span data-type="refuse">已拒绝</span>
    <span data-type="done">已委托</span>
</div>
<table>
    <thead>
    <tr>
        <td></td>
        <td>委托单号/订单号</td>
        <td>航班日期</td>
        <td>期望到港日期</td>
        <td>起始港</td>
        <td>目的港</td>
        <td>货物品名</td>
        <td>委托单状态</td>
        <td>总价</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="radio" name="sg"/></td>
        <td><a href="">1132132131</a></td>
        <td>2017-02-01</td>
        <td>/</td>
        <td>PVG上海</td>
        <td>SHA上海</td>
        <td>consol</td>
        <td>委托待处理</td>
        <td>1000</td>
    </tr>
    <tr>
        <td><input type="radio" name="sg"/></td>
        <td><a href="">1132132131</a></td>
        <td>/</td>
        <td>2017-02-01</td>
        <td>PVG上海</td>
        <td>SHA上海</td>
        <td>consol</td>
        <td>委托待处理</td>
        <td>1000</td>
    </tr>
    </tbody>
</table>
<div class="page-box">

</div>