@import "../general/general";
@import "../newGeneral/general";

body {
  background-color: #F7F8FA;
}

//common class
.transline {
  width: 14px;
  height: 1px;
  background: #9fadc8;
  display: inline-block;
  vertical-align: 3px;
}

.f-12 {
  font-size: 12px;
}

.agr_next,.res_next{
  text-align: right;
  margin-top: 72px;
  margin-right: 29px;
  margin-bottom: 24px;
  .lg-btn {
    width: 120px;
    height: 32px;
    line-height: 32px;
    background: $c6b;
    font-size: 13px;
    margin:0 auto;
  }
}

//注册模块
.banner {
  .login-part {
    a {
      font-size: 16px;
      color: #fff;
    }
  }
}

.agr_container {
  width: 1200px;
  margin: 0 auto;
}

.agr_header {
  height: 30px;
  line-height: 30px;
  .small-nav {
    color: $c652;
    a {
      color: $c652;
    }
  }
}

.agr_status {
  padding-top: 50px;
  padding-left: 366px;
  .transline {
    width: 174px;
    height: 2px;
    background: $d8;
    margin-top: 14px;
    margin-left: -46px;
    margin-right: -46px;
  }
}

.agr_statusDetail {
  width: 130px;
  text-align: center;
  & .agr_statusWord span {
    color: $fa8;
    font-size: 16px;
  }
  &.active .agr_statusWord span {
    color: $c652;
  }
  &.active .agr_statusCode {
    background: #9fadc8;
  }
  .agr_statusCode {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.50);
    background: $d8;
    margin-bottom: 8px;
    span {
      color: #fff;
    }
  }
}

.agr_setupTip {
  line-height: 3;
  p {
    color: $c652;
  }
  .agr_dot {
    width: 6px;
    height: 6px;
    background: #2f9fb8;
    display: inline-block;
    @include br(3px);
    margin-right: 12px;
  }
}

.app-box.register-box {
  padding-top: 25px;
}

.register-box,.data-box {
  .agr_container {
    margin-bottom: 10px;
  }
  .container {
    padding: 20px 0 20px 302px;
    .please-register {
      width: 150px;
      font-size: 24px;
      color: $blue2;
      text-align: right;
    }

    .ipt {
      margin: 12px 0;
      padding-left: 86px;
      position: relative;
      ::-moz-placeholder { color: $fa8; }
      ::-webkit-input-placeholder { color:$fa8; }
      :-ms-input-placeholder { color:$fa8; }
      label {
        width: 150px;
        @include HEIGHT(50px);
        text-align: right;
        margin: 0;
        padding-right: 10px;
        color: #333;
        font-weight: normal;
        .star {
          color: red;
        }
      }
      #captcha {
        margin: 0;
        line-height: 50px;
        width: 300px;
        float: left;
      }
      input {
        display: block;
        float: left;
        width: 180px;
        @include HEIGHT(32px);
        line-height:12px;
        border: 1px solid $c6;
        padding: 0 0 0 14px;
        color: #999;
        font-size: 12px;
        margin-top: 10px;
      }
      select:focus, input:focus {
        border: 1px solid $blue3;
      }
      .info, .wrong-tel {
        float: left;
        @include HEIGHT(50px);
        color: $red1;
      }
      .info:before, .wrong-tel:before {
        display: block;
        float: left;
        content: '';
        height: 30px;
        width: 30px;
        background: url('../../../images/img/remove.png');
        margin: 10px 10px;
      }
    }
    .code {
      #code {
        width: 160px;
        margin-right: 10px;
      }
      #getCode {
        width: 130px;
        @include HEIGHT(32px);
        text-align: center;
        color: $blue2;
        border: 1px solid $border;
        cursor: pointer;
      }
    }
    .phone-msg {
      input {
        width: 160px
      }
      .p-msg {
        margin: 0 0 0 10px;
        width: 110px;
        float: left;
        color: #006bbd;
        &.lg-btn {
          @include HEIGHT(32px);
          margin-top: 10px;
        }
        &.white-btn {
          border-color: $e7;
        }
      }
    }
    .already {
      margin-left: 180px;
      a {
        color: $blue2;
      }
    }
    .click-pt {
      margin: 0;
      overflow: hidden;
      button {
        margin: 25px 0 50px 150px;
        float: left;
      }
      a {
        display: block;
        @include HEIGHT(50px);
        float: left;
        margin: 25px 0 0 50px;
        color: $blue2;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

.agr_content {
  width: 704px;
  height: 278px;
  border: 1px solid #e7ebf2;
  margin: 0 auto;
  background-color: #fff;
}

.agr_successCode {
  margin: 50px 48px 0;
}

.agr-ok, .agr-sorry {
  &.app-box {
    padding-top: 75px;
    margin-bottom: 166px;
  }
}

.agr_success p {
  text-align: left;
  font-size: 12px;
}

.pass-box {
  background-color: #F7F8FA;
  .container {
    .pass-img {
      height: 180px;
      width: 250px;
      background: url('../../../images/img/iconmap2.png') no-repeat;
      margin: 50px auto 10px;
    }
    .agr_next {
      margin-top: 26px;
      .lg-btn {
        width: 70px;
        height: 28px;
        line-height: 28px;
      }
    }
    p {
      margin-top: 8px;
      a {
        margin: 0 5px;
      }
      span {
        margin: 0 5px;
      }
    }
    .fir-txt {
      font-size: 20px;
      color: $c652;
      margin-bottom: 16px;
      margin-top: 60px;
    }
    .go-login {
    }
    .go-login:hover {
      color: #fff;
    }
    .go-login:focus {
      color: #Fff;
    }
  }
}

.agr_wrong {
  color: #ff0000;
}

.agr_name, .ensure, .tel, .phone-msg,.ensurePwd,.passward,.res_mail, .companyName,.res_name{
  .agr_wrong {
    position: absolute;
    top: 16px;
    left: 250px;
    display:none;
  }
}
.res_mobile{
  height:50px;
  line-height:50px;
}
.data-box .container .ipt{
  padding-left:40px;
}
.res_next{
  margin:40px 0;
}