@import "../general/general";

.app-box{background-color: #fff;
  .login-box{background: url('../../../images/img/login_bg.jpg') no-repeat;height: 100%;background-position: center top;
    .container{
      .slogon{height: 180px;width: 363px;background-color: transparent;margin:150px 0 0 120px;}
      .login-form{height: 500px;width: 590px;margin:70px 0;background-color: rgba(255,255,255,0.85);
        .width{width: 300px;margin: 0 auto;

        }
        .please-login{font-size: 24px;color: $blue4;margin-top: 60px;}
        .input-tel{margin-top: 20px;}
        .input-validate{position: relative;
          .validate-img{height: 50px;width: 130px;position: absolute;top: 0;right: 0;z-index: 10;cursor: pointer;border: 1px solid $border;}
          input{width: 160px;}
        }
        .input-pwd,.input-validate{margin-top: 5px;}
        .prompt{padding-left: 145px;color: red;height: 20px;}
        .wrong-text{padding-left: 150px;color: red;@include HEIGHT(20px);font-size: 16px;}
        .auto-login{height: 20px;margin:10px auto;
          input{height: 20px;width: 20px;margin: 0;}
          label{display: block;@include HEIGHT(20px);margin: 0 5px;font-weight: 100;color: #333;}
          a{color: $blue2;margin-right: 10px;text-decoration: underline;}
          a:hover{text-decoration: none;}
        }
      }
    }
  }
  .active-box{
    .container{
      .active-img{height: 180px;width: 250px;background: url('../../../images/img/iconmap2.png') no-repeat;margin: 50px auto 10px;}
      .wrong-img{height: 110px;width: 130px;background: url('../../../images/img/iconmap2.png') no-repeat -272px -37px;margin: 50px auto 10px;}
      p{color: $blue1;text-align: center;font-size: 20px;margin-top: 50px;}
      .auto-login-active{display: block;text-align: center;font-size: 16px;color: $blue3;margin-top: 20px;text-decoration: underline;}
    }
  }
}