<div class="search-part fill">
    <div class="dp-tb">
        <div class="input">
            <label for="order-num">主单号：</label>
            <input type="text" id="order-num" class="sm-input"/>
        </div>
        <button class="sm-btn blue-btn" id="search">查询</button>
    </div>
</div>
<div class="outer-con">
    <div class="operate fill">
        <p class="list-cout">共为您找到 0 条结果</p>
    </div>
    <table class="outer-tb">
        <thead>
        <tr>
            <td>主单号/订单号</td>
            <td colspan="2">订单信息</td>
            <td colspan="4">航线信息</td>
            <td colspan="4">货物信息</td>
            <td>操作员</td>
            <td>文件</td>
            <td>操作</td>
        </tr>
        </thead>
    </table>
    <div class="page-box outer-page"></div>
</div>

<div class="white-back dp-n">
    <div class="remove-type-part alert-part dp-n">
        <p class="header">确认删除该附件 <span class="close-this">X</span></p>

        <div class="btn-pt">
            <button id="remove-type-ensure" class="fl-l md-btn blue-btn">确定</button>
            <button class="close-this fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
    <div class="bh-part alert-part dp-n">
        <p class="header">下载文件<span class="close-btn">X</span></p>
        <div class="file-body fill">
            <div class="dp-tb">
                <div class="up-part">
                    <div class="top">PNG<a href="javascript:void(0);" class="dl"
                                           data-key="b6640415471846c2afd127eb87f7beb1.png"></a> <a
                                href="javascript:void(0);" class="rm"
                                data-key="b6640415471846c2afd127eb87f7beb1.png"></a></div>
                    <a href="javascript:void(0);" class="dp-b">snip_20170316220443.png</a></div>

            </div>
        </div>
    </div>
    <div class="upFile-part alert-part dp-n">
        <p class="header">上传文件<span class="close-btn">X</span></p>
        <div class="file-body fill">
            <div class="dp-tb">
                <div class="add-type" data-type="15">
                    <div class="top">
                        +
                    </div>
                    <a href="javascript:void(0);" class="dp-b f-name" data-name="查验费用清单">查验费用清单</a>
                    <input type="file" class="up-type" data-type="15"/>
                </div>
                <div class="add-type" data-type="21">
                    <div class="top">
                        +
                    </div>
                    <a href="javascript:void(0);" class="dp-b f-name" data-name="预录单">预录单</a>
                    <input type="file" class="up-type" data-type="21"/>
                </div>
                <div class="add-type" data-type="22">
                    <div class="top">
                        +
                    </div>
                    <a href="javascript:void(0);" class="dp-b f-name" data-name="查验费用清单">查验费用清单</a>
                    <input type="file" class="up-type" data-type="22"/>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-part alert-part dp-n">
        <p class="header">报关数据更新 <span class="close-btn">X</span></p>

        <div class="add-data-body fill">
            <p>订单号：<span class="ddh">KYB170002923</span>_<span class="fdh">002923</span></p>

            <p class="fl-l mg-r">起始港：<span class="qsg">SHA</span></p>

            <p class="fl-l mg-r">目的港：<span class="mdg">SFO</span></p>

            <p class="fl-l mg-r">航空公司：<span class="hkgs">3U</span></p>

            <p class="fl-l">起飞日期：<span class="qfrq">2017-02-02</span></p>

            <p class="fl-l mg-r clear">进仓状态：<span class="jczt">已确认</span></p>

            <p class="fl-l">订舱状态：<span class="dczt">已订舱</span></p>

            <div class="input fl-l clear">
                <label for="c-bgzt">报关状态：</label>
                <select id="c-bgzt" class="sm-input">
                    <option value="4">报关中</option>
                </select>
            </div>
        </div>
        <div class="btn-pt">
            <button id="bg-ensure" class="fl-l md-btn blue-btn">确定</button>
            <button class="close-btn fl-r md-btn white-btn">关闭</button>
        </div>
    </div>
</div>