<div class="right-part connect">
    <h3>联系我们</h3>
    <p>上海市盛夏路560号601A室</p>
    <p>客服电话：021-31157505-8011（周一至周六9：00~18:00)</p>
    <p>总机电话：021-60751671（周一至周六9：00~18:00)</p>
    <p>邮箱：kongyunbang@91kyb.com</p>
</div>